/var

/nbproject

/.project
/application/configs/share1Book-config.php

/.settings

/.buildpath

/.zfproject.xml

/.idea

/vendor/

/deploy.sh
/node_modules/
/application/configs/application.ini
/.sass-cache
