

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$   http://www.%{HTTP_HOST}/$1  [L,R=301]

# Page à la racine du site qui ne nessecite pas de réécriture
RewriteRule ^images(.)*$ - [L,NC]
RewriteRule ^cgu(.)*$ - [L,NC]
RewriteRule ^newsletter(.)*$ - [L,NC]
RewriteRule ^wp-admin(.)*$ - [END]
RewriteRule ^wp-login(.)*$ - [END]

# Page wordpress à réécrire vers la page index wordpress
RewriteRule ^resultats(.)* index.php$1 [END]
RewriteRule ^bibliotheque-damis(.)* index.php$1 [END]
RewriteRule ^bibliotheque-detail(.)* index.php$1 [END]
RewriteRule ^bibliotheque(.)* index.php$1 [END]
RewriteRule ^membre/deconnexion(.)*$ index.php [END]
RewriteRule ^membre/inscription(.)*$ index.php [END]
RewriteRule ^mot-de-passe-perdu(.)*$ index.php [END]
RewriteRule ^profil-membre(.)* index.php$1 [END]
RewriteRule ^messagerie(.)* index.php$1 [END]
RewriteRule ^amis(.)* index.php$1 [END]

# Toutes les autres pages
RewriteRule . /public/index.php [L]

</IfModule>

# END WordPress

FileETag MTime Size
<ifmodule mod_expires.c>
  <filesmatch "\.(jpg|gif|png|css|js|ico)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </filesmatch>
</ifmodule>
