

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$   http://www.%{HTTP_HOST}/$1  [L,R=301]

# Rewrite for removing trailing slash and prevent duplicated content in google
RewriteRule ^livre/([a-z0-9\-]+)/([a-z0-9\-]+)/(.*)/$ /livre/$1-$3 [L,R=301]
RewriteRule ^livre/([a-z0-9\-]+)/([a-z0-9\-]+)/(.*)$ /livre/$1-$3 [L,R=301]
RewriteRule ^contact/(.*)$ /contact [L,R=301]

# Rewrites for Zend modules
RewriteRule ^default(.)*$ public/index.php [L]
RewriteRule ^member(.)*$ public/index.php [L]
# Rewrites for Zend controllers
RewriteRule ^$ public/index.php [L]                     # module:default / controller:index / action:index
RewriteRule ^error(.)*$ public/index.php [L]            
RewriteRule ^wished-userbook(.)*$ public/index.php [L]  # module:default / controller:wished-userbooks
RewriteRule ^userbook-gift(.)*$ public/index.php [L]    # module:default / controller:userbook-gift
RewriteRule ^userbook-gifts(.)*$ public/index.php [L]   # module:default / controller:userbook-gifts
RewriteRule ^test(.)*$ public/index.php [L]
RewriteRule ^library(.)*$ public/index.php [L]          # module:default / controller:library
RewriteRule ^users(.)*$ public/index.php [L]            # module:default / controller:users
RewriteRule ^book-search(.)*$ public/index.php [L]
RewriteRule ^userbook(.)*$ public/index.php [L]
RewriteRule ^membre/a-la-page(.)*$ public/index.php [L]
RewriteRule ^livre(.)*$ public/index.php [L]            # module:default / controller:book / action:index
RewriteRule ^chronique(.)*$ public/index.php [L]        # module:default / controller:chronicle / action:index
RewriteRule ^bulletin(.)*$ public/index.php [L]         # module:default / controller:static / action:index (route)
RewriteRule ^revues-de-presse(.)*$ public/index.php [L] # module:default / controller:static / action:index (route)
RewriteRule ^pas-a-pas(.)*$ public/index.php [L]  		# module:default / controller:static / action:index (route)
RewriteRule ^a-propos(.)*$ public/index.php [L]         # module:default / controller:static / action:index (route)
RewriteRule ^presse(.)*$ public/index.php [L]           # module:default / controller:static / action:index (route)
RewriteRule ^lequipe(.)*$ public/index.php [L]          # module:default / controller:static / action:index (route)
RewriteRule ^comment-ca-marche(.)*$ public/index.php [L] # module:default / controller:static / action:index (route)
RewriteRule ^nous-aider(.)*$ public/index.php [L]       # module:default / controller:static / action:index (route)
RewriteRule ^nos-partenaires(.)*$ public/index.php [L]  # module:default / controller:static / action:index (route)
RewriteRule ^contact$ public/index.php [L]              # module:default / controller:index / action:contact (route)

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

FileETag MTime Size
<ifmodule mod_expires.c>
  <filesmatch "\.(jpg|gif|png|css|js|ico)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </filesmatch>
</ifmodule>
