
#header {
  overflow: hidden;

  #header-top {
    background-color: $color6;
    .header-inner {
      background: url("../images/header-background.png") no-repeat scroll 0 0 transparent;
      padding-left: 80px;
      margin: 0 auto;
      width: 980px;
      padding-top: 7px;
    }
  }

  #header-bottom {
    height: 50px;
    background-color: $color5;
    .header-inner {
      margin: 0 auto;
      width: 980px;
      padding-top: 7px;
    }
  }

}




