/* main layout */
#page {
  float: left;
  width: 100%;
}

#nav-wrap {
  padding: 0px;
}

#nav-wrap {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 14px $color051;
  background-color: $color101;
  height: 71px;
}

.right-frame {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}

#loading {
  background-color: $color071;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  #loadingMsg {
    color: $color001;
    font-size: 2.5em;
    margin: 245px auto;
    width: 300px;
  }
}