/* main layout */
#page {
  float: left;
  width: 100%;
}

#nav-wrap {
  padding: 0px;
}

#nav-wrap {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 14px #555555;
  background-color: #239cd3;
  height: 71px;
}


.right-frame {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
