.title-chronicles-right-col {
  font-size: 1.3em;
  margin-bottom: 5px;
}

#other-chronicles {
  .oc-title {
    border-bottom: 2px solid $color101;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  float: left;
  width: 100%;
  margin-bottom: 30px;
  UL {
    margin: 0;
    padding: 0;
    LI {
      list-style: none outside none;
    }
  }
}

#other-chronicles LI A, .cl-other-chronicles LI A {
  color: #707070;
  text-decoration: none;
  margin-top: 2px;
  padding: 3px 25px 0;
  background: url($sprite) no-repeat scroll 0 -1525px transparent;
}

#chronicles-block {
  UL {
    border: 5px solid $color031;
    margin: 0;
    padding: 0;
    LI {
      border-bottom: 1px solid $color031;
      list-style: none outside none;
      padding: 5px;
      A {
        color: $color071;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .cb-nbviews {
    font-size: 0.9em;
  }
  .cb-date {
    color: #707070;
  }
}

#chronicle-detail {
  h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .navigation {
    background-color: $color001;
    > DIV {
      padding: 0;
    }
    .nav-resume {
      padding: 3px;
      font-size: 1.3em;
      background-color: $color101;
      color: $color001;
    }
  }
  .navigation.top {
    border-top: 5px solid $color101;
  }
  .bv-reviews {
    margin-top: 10px;
  }
  #cd-video {
    float: left;
    width: 100%;
  }

  #cd-video-iframe {
    margin: 10px auto;
    width: 560px;
  }
}

#chronicles-list {
  margin-top: 10px;
  h1 {
    color: $color101;
  }
  .navigation.top {
    margin-bottom: 10px;
  }
  UL {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    LI {
      &.cl-item {
        border-bottom: 1px solid $color001;
        float: left;
        margin-bottom: 7px;
        padding-bottom: 8px;
        width: 100%;
      }
    }
  }
  .cl-left {
    float: left;
    width: 28%;
    .cl-image {
      border: 1px solid #E6E6E6;
      width: 170px;
      height: 170px;
      background-position: center top;
      background-repeat: no-repeat;
      background-color: $color061;
      background-size: 200px auto;
    }
  }
  .cl-right {
    float: left;
    width: 72%;
    .cl-user {
      margin-bottom: 15px;
    }
    .cl-text {
      word-wrap: break-word;
      margin-bottom: 15px;
    }
    H2 {
      margin: 0;
      A {
        text-decoration: none;
      }
    }
  }
  .cl-other-chronicles {
    font-size: 1.2em;

    .cloc-title {
      margin-bottom: 5px;
    }

  }
}

#chronicles {
  .pb-title {
    font-size: 1.1em;
    margin: 10px 0 5px;
  }
}

.pushed-chronicles {
  float: left;
  padding-bottom: 30px;
  width: 100%;

  ul {
    padding: 0;
    li {
      list-style: none;
      vertical-align: top;
      margin-bottom: 10px;
      a {
        text-decoration: none;
      }

      @media (min-width: 768px) {
        height: 280px;
      }
      .pc-image {
        border: 1px solid #E6E6E6;
        width: 200px;
        height: 200px;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: $color061;
        background-size: 200px auto;
      }
      .pc-title {
        a {
          color: $color101;
          font-size: 1.2em;
          font-weight: bold;
          text-align: left;
        }
      }
      .pc-link {
        border-top: 1px solid #E6E6E6;
        float: left;
        padding-top: 5px;
        margin-top: 15px;
        width: 100%;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $color071;
          font-weight: bold;
        }
      }
    }
  }
}

#press-reviews {
  float: left;
  a {
    text-decoration: none;
    color: $color071;
  }
  ul {
    list-style: none outside none;
    padding: 0;
    li {
      border-bottom: 1px solid #E6E6E6;
      float: left;
      margin-bottom: 10px;
      padding-bottom: 5px;
      width: 100%;
    }
  }
  .pr-image {
    float: left;
    width: 70px;
  }
  .pr-text {
    float: left;
    width: 560px;
    font-size: 1.1em;
  }
  .pr-title {
    color: $color101;
    font-weight: bold;
  }
}

#pr-block-title {
  font-size: 1.4em;
  font-weight: bold;
}

#pressreviews-list {
  h1 {
    color: $color101;
  }
  h2 {
    font-weight: normal;
  }
  .pb-title {
    font-size: 1.1em;
    margin: 10px 0 5px;
  }
}

#videos-list {
  margin-top: 10px;
  h1 {
    color: $color101;
  }
  h2 {
    font-weight: normal;
  }
  .navigation {
    &.top {
      margin-bottom: 10px;
    }
  }
  ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    li {
      &.vl-item {
        border-bottom: 1px solid $color001;
        float: left;
        margin-bottom: 7px;
        padding-bottom: 8px;
        width: 100%;
      }
    }
  }
  .vl-left {
    float: left;
    width: 33%;
  }
  .vl-right {
    float: left;
    width: 67%;
  }
  .vl-title {
    color: $color101;
    font-weight: bold;
  }
}
