.registration {
  A {
    &.cgu {
      color: $color6;
      font-weight: normal;
    }
  }
  .buttons-bar {
    color: $color4;
    background-color: $color4;
    float: left;
    height: 40px;
    margin-top: 10px;
    width: 100%;
    .bb-btvalidate {
      float: right;
      font-size: 0.7em;
    }

  }
}

.r-left {
  background: url("../images/registration-bkg.png") no-repeat scroll right top $color3;
  border-radius: 10px 0 0 0;
  float: left;
  width: 50%;
}

.r-right {
  float: left;
  width: 50%;
  text-align: center;
}

.r-line {
  margin-top: 10px;
}

.r-title {
  color: $color4;
  font-size: 2.5em;
  font-weight: bold;
}

.r-subtitle {
  font-size: 1.2em;
}

.r-reassurance {
  font-size: 1.3em;
  color: $color4;
  font-weight: bold;
  margin: 10px 0;
}

.rl-label {
  color: $color4;
  font-weight: bold;
}

.rr-label {
  font-size: 1.3em;
  margin-top: 50px;
}

.rr-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.registration .bt-facebook-s {
  margin: 0 auto;
}

.registration .bt-blue-xxl {
  margin: 0 auto;
}
