/* Compact form widget */
.cfw {
    padding: 10px 5px 10px 90px;
    overflow: hidden;
    
    .input-item {
        width: 107px;
        height: 24px;
    }
    
    .button {
        float: right;
    }
    
    input {
        float: left;
    }
}

.cfw-press-review-subscription {
    background: url("@{sprite}") no-repeat scroll 3px -2200px #1E1E1E;
}

.cfw-wish-list-search {
    background: url("@{sprite}") no-repeat scroll left -2417px #1E1E1E;
}

.cfw-title {
    color: #239CD3;
    font-size: 1.3em;
    font-weight: bold;
}

.cfw-subtitle {
    color: #FFF;
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 5px;
}
/* Compact form widget END */
