/* ----------------------------------- */
/* ---- Other chronicles same type --- */
/* ----------------------------------- */
#other-chronicles {
    float: left;
    width: 100%;
}

.oc-title {
    border-bottom: 2px solid #239CD3;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#other-chronicles UL {
    margin: 0;
    padding: 0;
}

#other-chronicles LI {
    list-style: none outside none;
}

#other-chronicles LI A,.cl-other-chronicles LI A {
    color: #707070;
    text-decoration: none;
    margin-top: 2px;
    padding: 3px 25px 0;
    background: url("../images/sprite.png?v=5") no-repeat scroll 0 -1525px transparent;
}

/* -------------------------- */
/* ---- Chronicles Blocks --- */
/* -------------------------- */
#chronicles-block {
    
}

.cb-title {
    font-size: 1.3em;
    margin-bottom: 5px;
}

#chronicles-block UL {
    border: 5px solid #E0E0E0;
    margin: 0;
    padding: 0;
}

#chronicles-block LI {
    border-bottom: 1px solid #E0E0E0;
    list-style: none outside none;
    padding: 5px;
}

#chronicles-block LI A {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.cb-nbviews {
    font-size: 0.9em;
}

.cb-date {
    color: #707070;
}

/* ------------------------- */
/* ---- Chronicle Detail --- */
/* ------------------------- */
#chronicle-detail .navigation {
    background-color: #FFF;
}

#chronicle-detail .navigation.top {
    border-top: 5px solid #239CD3;
}

#chronicle-detail .navigation>DIV {
    padding: 0;
}

#chronicle-detail .nav-resume {
    padding: 3px;
    font-size: 1.3em;
    background-color: #239CD3;
    color: #FFF;
}

#chronicle-detail .bv-reviews {
    margin-top: 10px;
}

#cd-video {
    float: left;
    width: 100%;
}

#cd-video-iframe {
    margin: 10px auto;
    width: 560px;
}

/* ----------------------- */
/* ---- Chronicle List --- */
/* ----------------------- */
#chronicles-list {
    margin-top: 10px;
}

#chronicles-list .navigation.top {
    margin-bottom: 10px;
}

#cl-searchterm {
    margin-bottom: 10px;
}

#cl-searchterm-value {
    font-style: italic;
}

#cl-searchterm SPAN {
    font-size: 1.3em;
}

#chronicles-list UL {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

#chronicles-list LI.cl-item {
    border-bottom: 1px solid #DEDFDF;
    float: left;
    margin-bottom: 7px;
    padding-bottom: 8px;
    width: 100%;
}

#chronicles-list .cl-left {
    float: left;
    width: 20%;
}

#chronicles-list .cl-right {
    float: left;
    width: 80%;
}

#chronicles-list .cl-user {
    margin-bottom: 15px;
}

#chronicles-list .cl-text {
    word-wrap: break-word;
    margin-bottom: 15px;
}

#chronicles-list H2 {
    margin: 0;
}

#chronicles-list H2 A {
    text-decoration: none;
}

#chronicles-list .cl-other-chronicles {
    font-size: 1.2em;
}

.cloc-title {
    margin-bottom: 5px;
}

/* ------------------------------ */
/* ---- Chronicle Search Form --- */
/* ------------------------------ */
#chronicle-search-form {
    background-color: #1E1E1E;
    float: left;
    width: 290px;
    padding: 5px;
}

#chronicle-search-form .search-field {
    background: url("../images/sprite.png?v=5") no-repeat scroll -550px 0 transparent;
    width: 130px;
}

#chronicle-search-form .search-field INPUT {
    width: 84px;
    margin: 7px 4px;
}

#chronicle-search-form DIV {
    float: left;
    color: #FFFFFF;
    font-size: 1.2em;
    line-height: 30px;
}

#chronicle-search-form FORM {
    float: right;
}

/* ------------------------------------------------------- */
/* ---- pushed-chronicles on home and book detail page --- */
/* ------------------------------------------------------- */
.pushed-chronicles {
    float: left;
    padding-bottom: 30px;
}

.pushed-chronicles UL {
    padding: 0;
}

.pushed-chronicles LI {
    float: left;
    list-style: none;
    width: 202px;
    margin-left: 10px;
}

.pushed-chronicles LI.first {
    margin-left: 0;
}

.pc-image {
    border: 1px solid #E6E6E6;
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

.pc-title {
    color: #239CD3;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;;
}

.pc-link {
    border-top: 1px solid #E6E6E6;
    float: left;
    padding-top: 5px;
    margin-top: 15px;
    width: 100%
}

.pc-link A {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}