/* ---------------------------------- */
/* ---- General press reviews CSS --- */
/* ---------------------------------- */
#press-reviews {
    float: left;
}

#press-reviews a {
    text-decoration: none;
    color: #000;
}

#pr-block-title {
    font-size: 1.4em;
    font-weight: bold;
}

#press-reviews ul {
    list-style: none outside none;
    padding: 0;
}

#press-reviews li {
    border-bottom: 1px solid #E6E6E6;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
}

.pr-image {
    float: left;
    width: 80px;
}

.pr-text {
    float: left;
    width: 560px;
    font-size: 1.1em;
}

.pr-title {
    color: #239CD3;
    font-weight: bold;
}

/* -------------------------------- */
/* ---- Press reviews page list --- */
/* -------------------------------- */
#pressreviews-list h1 {
    color: #239CD3;
}

#pressreviews-list h2 {
    font-weight: normal;
}

#prl-form {
    font-size: 1.2em;
    margin-bottom: 15px;
}

#pressreviews .pb-title {
    font-size: 1.1em;
    margin: 10px 0 5px;
}