/* ---------------------------------- */
/* ---- General press reviews CSS --- */
/* ---------------------------------- */
#press-reviews {
    float: left;
}

#press-reviews a {
    text-decoration: none;
    color: #000;
}

#pr-block-title {
    font-size: 1.4em;
    font-weight: bold;
}

#press-reviews ul {
    list-style: none outside none;
    padding: 0;
}

#press-reviews li {
    border-bottom: 1px solid #E6E6E6;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
}

.pr-image {
    float: left;
    width: 80px;
}

.pr-text {
    float: left;
    width: 560px;
    font-size: 1.1em;
}

.pr-title {
    color: #239CD3;
    font-weight: bold;
}

/* -------------------------------- */
/* ---- Press reviews page list --- */
/* -------------------------------- */
#pressreviews-list h1 {
    color: #239CD3;
}

#pressreviews-list h2 {
    font-weight: normal;
}

#prl-form {
    font-size: 1.2em;
    margin-bottom: 15px;
}

#pressreviews .pb-title {
    font-size: 1.1em;
    margin: 10px 0 5px;
}

/* -------------------- */
/* ---- Videos List --- */
/* -------------------- */

#videos-list {
    margin-top: 10px;
}

#videos-list h1 {
    color: #239CD3;
}

#videos-list h2 {
    font-weight: normal;
}

#videos-list .navigation.top {
    margin-bottom: 10px;
}

#videos-list ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

#videos-list li.vl-item {
    border-bottom: 1px solid #DEDFDF;
    float: left;
    margin-bottom: 7px;
    padding-bottom: 8px;
    width: 100%;
}

#videos-list .vl-left {
    float: left;
    width: 33%;
}

#videos-list .vl-right {
    float: left;
    width: 67%;
}

.vl-title {
    color: #239CD3;
    font-weight: bold;
}
