@font-face {
  font-family: 'Dosis';
  src: url('fonts/Dosis-normal.eot');
  src: url('fonts/Dosis-normal.eot?#iefix') format('embedded-opentype'),
  url('fonts/Dosis-normal.woff') format('woff'),
  url('fonts/Dosis-regular.ttf') format('truetype'),
  url('fonts/Dosis-regular.svg#dosisregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

HTML {
  margin-top: 0px !important;
  font-size: 12px;
  font-family: 'Dosis', Arial, sans-serif;
}

body {
  margin: 0;
  background: url("../images/background.png") repeat scroll 0 0 transparent;
  font-size: 1em;
}

input, select {
  font-size: 1.2em;
  color: #000;
}

SELECT {
  height: 28px;
}

A.link, A:visited.link, A:hover.link {
  color: #239cd3 !important;
  font-weight: bold;
}


/* global */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-top-s {
  margin-top: 2px;
}

.margin-top-m {
  margin-top: 6px;
}

.margin-top-l {
  margin-top: 10px;
}

.margin-bottom-s {
  margin-bottom: 2px;
}

.margin-bottom-m {
  margin-bottom: 6px;
}

.margin-bottom-l {
  margin-bottom: 10px;
}

.margin-bottom-xl {
  margin-bottom: 20px;
}

.col-x2 {
  width: 49%;
}

.full-width {
  width: 100%;
}

