@font-face {
  font-family: 'Dosis';
  src: url('fonts/Dosis-normal.eot');
  src: url('fonts/Dosis-normal.eot?#iefix') format('embedded-opentype'),
  url('fonts/Dosis-normal.woff') format('woff'),
  url('fonts/Dosis-regular.ttf') format('truetype'),
  url('fonts/Dosis-regular.svg#dosisregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

HTML {
  margin-top: 0px !important;
  font-size: 12px;
  font-family: 'Dosis', Arial, sans-serif;
}

body {
  margin: 0;
  background: url("../images/background.png") repeat scroll 0 0 transparent;
  font-size: 1em;
}

A.link, A:visited.link, A:hover.link {
  color: $color101 !important;
  font-weight: bold;
}

/* global */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-top-s {
  margin-top: 2px;
}

.margin-top-m {
  margin-top: 6px;
}

.margin-top-l {
  margin-top: 10px;
}

.margin-bottom-s {
  margin-bottom: 2px;
}

.margin-bottom-m {
  margin-bottom: 6px;
}

.margin-bottom-l {
  margin-bottom: 10px;
}

.margin-bottom-xl {
  margin-bottom: 20px;
}

.col-x2 {
  width: 49%;
}

.full-width {
  width: 100%;
}

.noDisplay {
  display: none;
}

.highlight {
  color: $color101;
  text-decoration: none;
  font-weight: bold;
}

.inner-padding {
  padding: 5px;
}

.inner-padding-10 {
  padding: 10px;
}

.inner-padding-12 {
  padding: 12px;
  float: left;
}

.inner-padding-20 {
  padding: 20px;
  float: left;
}

.inner-side-padding-10 {
  padding: 0 10px;
  float: left;
}

.inner-side-padding-30 {
  padding: 0 30px;
  float: left;
}

.inner-right-padding-45 {
  padding: 0 0 0 45px;
  float: left;
}

/* global separator */
.separator {
  border-top-style: solid;
  border-top-width: 5px;
  border-color: $color001;
}

.separator {
  SPAN {
    padding: 3px;
    font-size: 1.3em;
  }

  &.cherbouquin {
    border-color: $color101;
    SPAN {
      background-color: $color101;
      color: $color001;
    }
  }
}

.horizontal-sep-1 {
  background: url("../images/horizontal-sep-1.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 23px;
  width: 100%;
  margin-top: 10px;
}

.horizontal-sep-2 {
  background: url("../images/book-search-sep.png") no-repeat scroll 0 15px transparent;
  float: left;
  height: 23px;
  width: 100%;
}

.horizontal-sep-3 {
  background: url("../images/horizontal-sep-3.png") no-repeat scroll 0 15px transparent;
  float: left;
  height: 23px;
  width: 100%;
}

.horizontal-sep-4 {
  background: url("../images/horizontal-sep-4.png") no-repeat scroll 35px 15px transparent;
  float: left;
  height: 23px;
  width: 100%;
}

.form-title {
  font-size: 2em;
}

.see-more {
  background-color: $color001;
  float: left;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  A, A:visited, A:hover {
    color: $color071;
    text-decoration: none;
  }
}