$shadow-color: #555555;
$color4: #ffffff;
$color1: #efefef;
$color9: #DDDDDD;
$color15: #E6E6E6;
$color2: #cccccc;
$color14: #707070;
$color8: #788087;
$color7: #6b7074;
$color11: #6B7074;
$color10: #575757;
$color5: #363a3d;
$color6: #000000;
$color16: #794692;
$color17: #be0574;
$color3: #239cd3;
$color18: #30a2d6;
$color19: #f14e07;