$imageVersion: 10;

$sprite: '../images/sprite.png?v=' + $imageVersion;
$spriteButtons: '../images/sprite-buttons.png?v=' + $imageVersion;

$color001: #ffffff;
$color011: #f5f5f5;
$color031: #cccccc;
$color041: #6b7074;
$color051: #575757;
$color061: #363a3d;
$color071: #000000;
$color081: #794692;
$color091: #be0574;
$color101: #239cd3;
$color111: #f14e07;
$color121: #3e932e;