.add-friend-bkg {
  background: url("../images/add-friend-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;

  .add-friend-header {
    background: url($sprite) repeat-x scroll 0 -1120px transparent;
    height: 51px;
    margin-bottom: 10px;
    padding-left: 76px;
    .afh-title {
      color: #239CD3;
      font-size: 2em;
    }
    .friends-search {
      font-size: 1.5em;
    }
  }

  .friends-list {
    padding: 10px 0;
    float: left;
  }
}
