/* book view*/
.book-view {
  .bv-buttons {
    @extend %full_left;
    margin-top: 10px;
    text-decoration: none;

    .bv-requestborrow {
      float: left;
      margin-right: 5px;
    }

    .bv-buttons-group {
      @extend %full_left;
      .bv-edit {
        float: left;
        margin-right: 5px;
      }
      .bv-lend {
        float: left;
        margin-right: 5px;
      }
    }
    A {
      text-decoration: none;
    }
  }

  /* review */
  .bv-reviews {
    @extend %full_left;
    .bvr-item {
      @extend %full_left;
      .bvri-content {
        float: left;
        width: 85%;
        margin-left: 10px;
      }
      .bvri-plublication {
        float: left;
        margin-right: 7px;
        margin-top: 7px;
      }

      .bvri-review {
        @extend %full_left;
        margin-top: 2px;
        overflow: hidden;
      }
      .bvri-rating {
        float: left;
        .blowofheart {
          background: url($sprite) no-repeat scroll 2px -392px transparent;
          float: left;
          width: 22px;
          height: 18px;
          padding-top: 5px;
        }
      }

      .bvri-link {
        float: left;
      }
    }
    .bvr-list {
      margin: 10px 0;
      @extend %full_left;
    }
    .navigation {
      height: 30px;
      .nav-resume {
        float: left;
        font-size: 1.3em;
        line-height: 20px;
      }
    }
    .bvr-warnlink {
      float: right;
    }

    .bvr-comments {
      @extend %full_left;
      background-color: $color001;
      border: 1px solid $color031;
      margin-top: 5px;
      ul {
        @extend %full_left;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        li {
          border-bottom: 1px solid $color001;
          @extend %full_left;
          margin-bottom: 2px;
        }
      }

      .bvr-comment {
        @extend %full_left;
        .bvrc-date {
          float: right;
          width: 87%;
          color: $color041;
        }

        .bvrc-value {
          float: right;
          width: 87%;
        }

        .bvrc-owner {
          float: left;
        }

        .bvrc-submitlink {
          border: 0 none;
          color: $color101;
          font-size: 0.9em;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .bvr-commentswrap {
      float: left;
      padding: 5px;
      width: 540px;
    }
  }

  .bvr-commentsform {
    @extend %full_left;
    TEXTAREA {
      font-size: 0.9em;
      height: 20px;
      margin: 0;
      padding: 0;
      resize: none;
      width: 90%;
    }
  }

}
