.cfw {
  padding: 10px 5px 10px 88px;
  overflow: hidden;

  .input-item {
    width: 105px;
    height: 24px;
  }

  .button {
    float: right;
  }

  input {
    float: left;
  }

  &.cfw-press-review-subscription,
  &.cfw-wish-list-search {
    background: url($sprite) no-repeat scroll left -2417px $color071;
    .cfw-title {
      color: $color101;
      font-size: 1.3em;
      font-weight: bold;
    }

    .cfw-subtitle {
      color: $color001;
      font-size: 1.2em;
      text-align: justify;
      margin-bottom: 5px;
    }
  }

}
