
#flashes-wrap {
  position: absolute;
  height: 100%;
  width: 100%;

  #flashes {
    margin-left: -220px;
    margin-top: -180px;
    position: fixed;
    top: 50%;
    width: 440px;
    z-index: 1002;
    left: 50%;
    background: none repeat scroll 0 0 $color001;
    border-radius: 10px 10px 10px 10px;
    ul {
      color: $color101;
      list-style: none outside none;
      margin: 0;
      padding: 15px;
      li {
        color: $color101;
        font-size: 2em;
      }
    }
    #flashes-close-button {
      background: url($sprite) no-repeat scroll 0 -1328px transparent;
      float: right;
      height: 33px;
      width: 32px;
      cursor: pointer;
    }
  }

  #flashes-background {
    background-color: $color071;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}

