.wishlist-list {
  margin-top: 15px;

  .fls-label {
    width: 230px;
  }

  .input-item {
    float: left;
    height: 25px;
    margin-right: 5px;
  }

  .friend-item {
    min-height: 245px;
  }
}