/* friend selection */
.friend-selection {
  float: left;
  width: 100%;
  .fs-title {
    font-size: 1.8em;
  }

  .fs-list {
    float: left;
    width: 100%
  }

  .fs-friendname {
    font-weight: bold;
  }
}

