/* friend selection */
.friend-selection {
  float: left;
  width: 100%;

  .friend-item {
    min-height: 150px;
    float: left;
    width: 33%;

    .fi-line {
      float: left;
      width: 100%;
    }

    .fi-line-sep {
      float: left;
      width: 100%;
      height: 2px;
      background-color: $color001;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .fil-label,
    .fi-text .publisher,
    .fit-title, .fit-author,
    .fil-username {
      font-weight: bold;
    }

    .fi-image {
      float: left;
      margin-right: 10px;
    }

  }

  .fs-title {
    font-size: 1.8em;
  }

  .fs-list {
    float: left;
    width: 100%
  }

  .fs-friendname {
    font-weight: bold;
  }
}


