/* library-list */
.lln-search {
  float: left;
}

.llns-label {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 30px;
}

.ll-list {
  float: left;
  width: 100%;
}

.ll-list TABLE {
  float: left;
  width: 100%;
}

.ll-list TABLE TD, .ll-list TABLE TH {
  margin: 2px;
  padding: 2px;
}

.ll-list TABLE TH {
  height: 30px;
  cursor: pointer;
}

.ll-list TD.border-right {
  padding: 5px;
  border-right: 2px solid #EFF0F0;
}

.ll-list TD {
  vertical-align: top;
}

.lll-header {
  background-color: #efefef;
}

.llh-author {
  width: 15%;
}

.llh-rating {
  width: 13%;
}

.llh-state {
  width: 16%;
}

.llh-button {
  width: 14%;
}

.llh-title {
  width: 42%;
}

.llh-title, .llh-author, .llh-rating, .llh-state {
  text-align: left;
}

TABLE TH.llh-title {
  padding-left: 80px;
}
