/* library-list */
.lln-search {
  float: left;
  .llns-label {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 30px;
  }
}

.ll-list {
  float: left;
  width: 100%;
  TABLE {
    float: left;
    width: 100%;
    TD, TH {
      margin: 2px;
      padding: 2px;
    }
    TH {
      height: 30px;
      cursor: pointer;
    }
    TD {
      vertical-align: top;
      &.border-right {
        padding: 5px;
        border-right: 2px solid #EFF0F0;
      }
    }
  }
  .lll-header {
    background-color: $color1;
  }

}

.ll-nobooks {
  padding: 15px;
  float: left;
  font-size: 2em;
}

.lln-filter {
  float: left;
  margin-top: 2px;
}

.llh-author {
  width: 15%;
}

.llh-rating {
  width: 13%;
}

.llh-state {
  width: 16%;
}

.llh-button {
  width: 14%;
}

.llh-title, .llh-author, .llh-rating, .llh-state {
  text-align: left;
}

TABLE {
  TH {
    &.llh-title {
      width: 42%;
      padding-left: 80px;
    }
  }
}
