/* library-header */
.library-header {
  background-color: $color101;
  border-radius: 10px 10px 0 0;
  float: left;
  width: 100%;
  UL {
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
  LI {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
  }
  A, A:hover, A:visited {
    font-size: 1.6em;
    text-decoration: none;
    color: $color031;
  }
  .lh-wrapper {
    background-color: $color001;
    margin: 0 5px 0 5px;
    height: 42px;
    width: 184px;
    padding-top: 100px;
    &.first {
      margin-left: 10px;
    }
    &.last {
      margin-right: 10px;
    }
    &.lh-lent {
      background: url("../images/picto-library-lent-big.png") no-repeat scroll -2px 0 transparent;
    }
    &.lh-all {
      background: url("../images/picto-library-big-black.png") no-repeat scroll -2px 4px transparent;
    }
    &.lh-owned {
      background: url("../images/picto-library-owned-big.png") no-repeat scroll -2px 0 transparent;
    }
    &.lh-borrowed {
      background: url("../images/picto-library-borrowed-big.png") no-repeat scroll -2px 0 transparent;
    }
    &.lh-wished {
      background: url("../images/picto-library-wished-big.png") no-repeat scroll -2px 0 transparent;
    }
  }

}

.friend-library-header {
  background-color: $color061;
}

.active A .lh-wrapper, .active A:hover .lh-wrapper, .active A:visited .lh-wrapper {
  font-weight: bold;
  text-decoration: underline;
}

.lh-friend-library-all {
  background: url("../images/picto-libraryfriend-big-black.png") no-repeat scroll -2px 4px transparent;
}

.active A .lh-wrapper.lh-owned, .active A:hover .lh-wrapper.lh-owned, .active A:visited .lh-wrapper.lh-owned {
  color: $color101;
}

.active A .lh-wrapper.lh-borrowed, .active A:hover .lh-wrapper.lh-borrowed, .active A:visited .lh-wrapper.lh-borrowed {
  color: $color091;
}

.active A .lh-wrapper.lh-lent, .active A:hover .lh-wrapper.lh-lent, .active A:visited .lh-wrapper.lh-lent {
  color: $color081;
}

.active A .lh-wrapper.lh-wished, .active A:hover .lh-wrapper.lh-wished, .active A:visited .lh-wrapper.lh-wished {
  color: $color121;
}

.lh-friendlibrarytitle {
  background: url($sprite) no-repeat scroll 0 -77px transparent;
  color: $color001;
  font-size: 2.4em;
  margin-left: 10px;
  padding-left: 47px;
  padding-top: 5px;
}
