/* mailbox list */
.mailbox {
  TABLE {
    float: left;
    width: 100%;
    text-align: left;
  }
}

.mb-deletebutton {
  float: left;
  .bt-black-l {
    line-height: 10px;
  }
}

.mb-col-check {
  width: 10%;
  text-align: center;
}

.mb-col-avatar {
  width: 20%;
}

.mb-col-msg {
  width: 30%;
}

.mb-col-date {
  width: 10%;
  &.ASC {
    background: url($sprite) no-repeat scroll 55px -122px transparent;
  }
  &.DESC {
    background: url($sprite) no-repeat scroll 55px -153px transparent;
  }
}

.mb-col-state {
  width: 15%;
  font-weight: bold;
}

TD {
  &.mb-col-state {
    color: $color111;
  }
}

.mb-col-read {
  width: 7%;
}

.mb-col-delete {
  width: 8%;
}

.mailbox {
  .navigation {
    background-color: $color001;

    &.mb-hat {
      background-color: $color061;
      color: $color001;
      border-radius: 10px 10px 0 0;
    }

    .nav-resume {
      float: left;
      font-size: 1.8em;
    }
  }

  TD.border-right {
    border-right: 2px solid $color001;
    padding: 5px;
  }
  .nav-links a, .nav-links a:hover, .nav-links a:visited {
    color: $color001;
  }
  .mb-foot .nav-links a, .mb-foot .nav-links a:hover, .mb-foot .nav-links a:visited {
    color: $color061;
  }

  A, A:visited, A:hover {
    text-decoration: none;
    color: $color071;
  }
}

.mb-header {
  background-color: $color001;
  color: $color061;
  font-size: 1em;
}

.mm-header {
  background-color: $color061;
  color: $color001;
  border-radius: 10px 10px 0 0;
}

.mm-body {
  margin-top: 10px;
}

.mmh-label {
  font-weight: bold;
}

.mmb-title {
  font-weight: bold;
  font-size: 1.3em;
}

.mm-inputbody {
  height: 100px;
  width: 100%;
}

.mnm-title {
  font-size: 1.9em;
  margin-bottom: 10px;
}

.mnm-line {
  margin-top: 10px;
  .mnm-body {
    height: 300px;
    width: 100%;
  }
}

.mnm-line-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 3px;
}

.recommand {
  .mnm-body {
    height: 200px;
  }
}

.mnm-subject {
  height: 20px;
  padding: 5px;
  width: 300px;
}

.mnm-emails {
  height: 20px;
  padding: 5px;
  width: 500px;
}
