/* global navigation */
.navigation {
  background-color: $color4;
  float: left;
  width: 100%;
  height: 44px;
  .nav-links {
    color: black;
    font-weight: bold;
    float: right;
    line-height: 22px;
    a, a:hover, a:visited {
      float: left;
      margin: 2px;
      padding: 1px;
      color: $color6;
      &.next, &.back {
        height: 20px;
        width: 14px;
        border: none;
        text-decoration: none;
      }
    }
    SPAN {
      float: left;
      margin: 2px;
      padding: 1px;
      color: $color4;
      color: $color3;
    }
  }
  .nav-resume {
    float: right;
    line-height: 29px;
    margin-right: 17px;
  }
}
