/* global navigation */
.navigation {
  @extend %full_left;
  background-color: $color001;
  height: 44px;
  .nav-links {
    color: black;
    font-weight: bold;
    float: right;
    line-height: 22px;
    a, a:hover, a:visited {
      float: left;
      margin: 2px;
      padding: 1px;
      color: $color071;
      &.next, &.back {
        height: 20px;
        width: 14px;
        border: none;
        text-decoration: none;
      }
    }
    SPAN {
      float: left;
      margin: 2px;
      padding: 1px;
      color: $color101;
    }
  }
  .nav-resume {
    float: right;
    line-height: 29px;
    margin-right: 17px;
  }
}
