.nr-list {
  @extend %full_left;
  border: 1px solid $color031;
  .nr-page {
    display: none;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        @extend %full_left;
        margin: 0;
        border-bottom: 1px solid $color031;
        .nr-image {
          float: left;
          margin: 5px;
        }

        .nr-text {
          margin: 5px;
          a {
            text-decoration: none;
            color: $color071;
            font-size: 1.1em;
          }
          .nr-date {
            font-weight: bold;
            color: $color091;
          }
        }

        &.odd {
          background-color: $color011;
        }
      }
    }
  }

  .nr-footer {
    height: 15px;
    padding: 5px;
    a {
      text-decoration: none;
      color: $color071;
      font-size: 1.1em;
    }

    .nr-footerlink {
      float: left;
      padding: 5px;
      color: $color101;
      font-weight: bold;
    }
    .nr-buttons {
      float: right;
      padding: 5px;
      .navButton {
        cursor: pointer;
        width: 17px;
        height: 15px;
        display: block;
        float: left;
        &.prevButton {
          background: url($sprite) no-repeat scroll 0 -2352px transparent;
          &.disabled {
            background: url($sprite) no-repeat scroll 0 -2373px transparent;
          }
        }
        &.nextButton {
          background: url($sprite) no-repeat scroll 0 -2329px transparent;
          &.disabled {
            background: url($sprite) no-repeat scroll 0 -2393px transparent;
          }
        }
      }
    }
  }

}