
.profile-edit-form {
  float: left;
  width: 100%;
}

.profile-edit-form TABLE {
  width: 100%;
}

.pef-label {
  width: 190px;
  font-size: 1.2em;
}

.pef-line {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.pef-gravatar {
  float: left;
  margin: 2px;
  width: 32%;
}
