
.profile {
  @extend %full_left;
  margin-bottom: 30px;

  .p-left {
    float: left;
  }

  .p-center {
    float: left;
    margin-left: 30px;
    width: 42%;
  }

  .p-right {
    float: right;
  }

  .p-name {
    font-size: 1.9em;
    font-weight: bold;
  }

  .p-gender {
    font-size: 1.9em;
    font-weight: bold;
  }

  .p-line {
    @extend %full_left;
    font-size: 1.3em;
    line-height: 22px;
    .pl-picto {
      float: right;
      height: 30px;
      margin-left: 10px;
      width: 35px;
    }

    .pl-birthdate {
      margin-bottom: 18px;
    }

    .pl-label {
      font-weight: bold;
    }

    .pl-coordinatetitle {
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 5px;
      background: url($sprite) repeat scroll 125px -1997px transparent;
    }

    .pl-coordinate {
      line-height: 16px;
    }

    .pl-add-as-friend {
      background: url($sprite) repeat scroll 0 -2043px transparent;
      padding-left: 20px;
      padding-top: 5px;
    }
  }

  .profile-status {
    float: left;
    .little-grey-bar {
      background-color: $color001;
      float: left;
      font-size: 0.9em;
      font-weight: bold;
      padding: 2px 0px;
      text-align: right;
      text-transform: uppercase;
      width: 100%;
      margin: 10px 0;
    }
  }

  .ps-current {
    @extend %full_left;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 46px;
  }

  .ps-current-label {
    float: left;
  }

  .ps-current-value {
    float: left;
    margin-left: 5px;
  }

  .ps-description {
    font-size: 1.5em
  }

  .ps-picto {
    color: $color101;
    height: 50px;
    padding-left: 50px;
    width: 233px;
  }

  .ps-picto-myfriends {
    background: url($sprite) repeat-x scroll 0 -854px transparent;
  }

  .ps-picto-public {
    background: url($sprite) repeat-x scroll 0 -906px transparent;
  }

  .ps-picto-private {
    background: url($sprite) repeat-x scroll 0 -906px transparent;
  }

  .psl-title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .psl {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  .psl-item {
    float: left;
    padding-left: 35px;
  }

  .psl-label {
    color: $color101;
    font-weight: bold;
  }

  .profile-delete {
    float: left;
    .bt-delete-account {
      line-height: 10px;
    }

  }

  .p-friend-title {
    background: url($sprite) no-repeat scroll 0 -84px transparent;
    font-size: 1.8em;
    height: 33px;
    margin-bottom: 18px;
    padding-left: 50px;
    color: $color001;
  }

  .p-right-item {
    text-align: right;
  }

  .p-nbbooks {
    font-size: 2em;
  }

  /* profile delete */
  .pd-description {
    font-size: 1.5em;
  }

  .pd-title {
    font-size: 2.5em;
  }
}

/* user profile */
.user-profile-bkg {
  background: url("../images/user-profile-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;
}

.other-user-profile-bkg {
  background: url("../images/other-user-profile-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;
}

.other-user-profile-bkg #content-right {
  padding-top: 60px;
}

/* friend profile */
.friend-profile {
  .p-line-small {
    font-size: 1.2em;
    line-height: 17px;
  }
  .pl-birthdate {
    margin-bottom: 3px;
  }

}