.profile-edit-form {
  @extend %full_left;
  TABLE {
    width: 100%;
  }
  .pef-label {
    width: 190px;
    font-size: 1.2em;
  }
  .pef-line {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  .pef-gravatar {
    float: left;
    margin: 2px;
    width: 32%;
    img {
      @extend %image-frame;
    }
  }
}

