
.profile-edit-settings {
  float: left;

  .pes-description {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  .pes-line {
    margin-bottom: 20px;
  }

  .pes-question {
    color: #239CD3;
    font-weight: bold;
    font-size: 1.2em;
  }

  .pes-question-field {
    font-weight: bold;
  }

}
