/* pushed books */
.pushed-books {
  float: left;
  width: 100%;
}

.book-view .pushed-books {
  margin: 25px 0;
}

.pb-title {
  color: $color3;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: normal;
  .pb-highlight {
    font-weight: bold;
  }
}

/* Same author books */
.same-author-books {
  .pb-title {
    font-size: 1.3em;
    margin-bottom: 5px;
    padding-left: 5px;
    color: $color3;
  }
}

/* Last rated books - homepage */
.last-rated-books {
  .pb-title {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 5px;
    color: $color3;
  }
}

.pb-item {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1em;

  .pbi-nbBoh {
    font-size: 1.4em;
  }

  .pbi-image {
    float: left;
    width: 125px;
  }

  .pbi-image-small {
    float: left;
    width: 80px;
  }

  .pbi-content {
    float: left;
    width: 505px;
    .book-link, .book-link:hover, .book-link A:visited {
      color: $color3;
      font-weight: bold;
    }
  }

  .pbi-description {
    float: left;
  }

  .pbi-content-title {
    font-size: 1.7em;
  }

  .pbi-content-subtitle {
    font-size: 1.4em;
  }

  .pbi-flags {
    float: left;
    width: 100%;
    DIV {
      height: 20px;
      padding-top: 5px;
    }
    .blowofheart {
      background: url($sprite) no-repeat scroll 2px -392px transparent;
      float: left;
      width: 22px;
      height: 18px;
      padding-top: 5px;
    }
  }

  .pbi-avgrating {
    font-size: 1.3em;
  }

  .pbif-rating-label {
    float: left;
    height: 21px;
    margin-right: 4px;
    padding-top: 5px;
  }

  .pbif-readingstate {
    float: left;
    color: #6b7074;
    font-weight: bold;
  }

  .pbi-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }

  .pbi-publication .publisher {
    font-weight: bold;
  }

  .pbi-authors {
    font-weight: bold;
  }

}

.pb-nobooks {
  font-size: 1.5em;
}

.pb-shelf {
  background: url("../images/shelf.png") no-repeat scroll -3px bottom transparent;
  float: left;
  padding-bottom: 51px;
  width: 100%;
}

.pb-inner-shelf {
  margin: 0 auto;
  width: 580px;
}

.pb-bookOnShelf {
  background: url("../images/book-onshelf-shadow.png") no-repeat scroll -4px 0 transparent;
  float: left;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.pb-bookOnShelf .image-frame {
  box-shadow: none;
  padding: 0;
}
