.quick-registration-form {
  .qrf-fieldlabel {
    font-weight: bold;
    font-size: 1.2em;
  }

  .qrf-baseline {
    font-size: 1.3em;
    margin: 15px 0;
  }

  .qrf-title {
    font-size: 2em;
  }
}