
.right-col-buttons {
  @extend %full_left;
  margin-bottom: 5px;
  .rcb-label {
    border-right: 1px solid $color031;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    height: 27px;
    padding-right: 5px;
    padding-top: 13px;
    width: 80px;
  }
  .rcb-buttons {
    float: left;
    width: 200px;
  }
}

