/* search form */
.search-form {
  float: left;
  width: 375px;
}

.sff-input {
  float: left;
  margin: 7px 0 7px 7px;
}

.sf-label {
  color: $color001;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 36px;
  margin-right: 2px;
}

/* Connected header */
.connected {
  width: 980px;
  .search-field {
    background: url($sprite) no-repeat scroll 0 -40px transparent;
    width: 658px;
    INPUT {
      width: 600px;
    }
  }

  .sf-label {
    margin-right: 53px;
  }
}

.search-field {
  background: url($sprite) no-repeat scroll 0 0 transparent;
  float: left;
  height: 32px;
  width: 266px;
  INPUT {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 200px;
    font-size: 1em;
    text-overflow: ellipsis;
  }
}

.search-field-input {
  float: left;
  margin: 7px;
}


