.user-events {
  @extend %full_left;
  .user-event {
    @extend %full_left;
    margin-bottom: 10px;

    .ue-friendimage {
      float: left;
      width: 15%;
    }

    .ue-itemimage {
      float: left;
      width: 12%;
      .ue-bookimage {
        float: left;
      }
    }

    .ue-description {
      float: left;
      width: 73%;
      .ue-resume {
        float: left;
        margin-bottom: 3px;
        width: 100%;
        font-weight: bold;
        .ue-rating-label {
          float: left;
        }
        .rating {
          margin-left: 5px;
          margin-top: -5px;
        }
      }
      .ue-bookdescription {
        @extend %full_left;

        .ue-booktitle {
          @extend %full_left;
          color: $color051;
        }

      }
      .ue-buttons {
        @extend %full_left;
        .ue-viewbooklink {
          float: left;
          line-height: 28px;
        }
        .ue-addbooklink {
          float: left;
          border-left: 1px solid $color041;
          margin-left: 5px;
          padding-left: 5px;
        }
      }
      .ue-additional {
        @extend %full_left;
        background-color: $color001;
        margin: 3px 0;
      }
      .ue-date {
        margin-top: 2px;
        color: $color041;
        font-weight: lighter;
      }
    }
  }
}
