.userbook-lending {
  @extend %full_left;
  .ul-lendings, .ul-borrowings, .ul-form {
    @extend %full_left;
    margin-bottom: 10px;
  }

  .ul-title {
    font-size: 1.5em;
  }

  .ul-detail {
    float: left;
    margin-right: 10px;
    font-size: 1.5em;
  }

  .ul-button {
    float: left;
  }

  .ul-btbutton {
    line-height: 10px;
  }
}


