/* User box (box in right col) */
.user-box {
  float: left;
  border: 1px solid $color101;
  ul {
    &.carousel-pagination {
      left: 150px;
      position: absolute;
      top: 210px;
      width: 110px;
      li {
        background-color: $color071;
        &.carousel-pagination-active {
          background: $color101;
        }
      }
    }
  }
  .ub-title-wrap {
    padding-bottom: 8px;
    background: url($sprite) no-repeat scroll 22px -1629px $color001;
    .ub-title {
      font-size: 1.6em;
      color: $color001;
      font-weight: bold;
      line-height: 30px;
      padding-left: 30px;
      background: url($sprite) no-repeat scroll 4px -1563px $color101;
    }
  }

  .ub-content {
    background-color: $color001;
    float: left;
    font-size: 1.1em;
    .ubc-part {
      float: left;
      font-weight: bold;
      width: 278px;
      padding: 10px;
      .ubc-part-title {
        padding-left: 10px;
        font-size: 1.1em;
      }
    }
  }

  .ub-currentreading {
    position: relative;
    .ub-currentreadingbook {
      float: left;
      width: 100%;
      .ubcb-image {
        float: left;
      }

      .ubcb-text {
        float: right;
        width: 55%;
      }

      .ubcb-progress {
        margin-top: 10px;
        .ubcb-progress-bar {
          float: left;
          width: 100%;
          .reading-progress-bar-wrapper {
            border-radius: 5px;
            box-shadow: 1px 1px 3px $color031 inset;
            padding: 5px;
            float: left;
            width: 93px;
            margin-right: 5px;
            .reading-progress-bar-out {
              float: left;
              width: 100%;
              background: url("../images/reading-progress-bar-out.png") repeat-x 0 0 transparent;

              .reading-progress-in {

                height: 10px;
                background: url("../images/reading-progress-bar-in.png") repeat-x 0 0 transparent;
              }
            }
          }
        }
      }

      .ubcb-progress-value {
        color: $color101;
        font-size: 1.1em;
      }
    }
  }
  .ub-mailbox {
    .ub-title {
      background: url($sprite) no-repeat scroll 3px -235px $color101;
    }
  }

  .ub-friends {
    .ub-title {
      background: url($sprite) no-repeat scroll 2px -203px $color101;
    }
  }

  .ub-highlight, .ub-highlight:hover, .ub-highlight:visited {
    color: $color101;
    text-decoration: none;
  }

  .ubc-bottom-link {
    float: right;
    font-size: 0.8em;
  }

  A.ubc-bottom-link,
  A.ubc-bottom-link:hover,
  A.ubc-bottom-link:visited {
    color: $color101;
  }

  .ubcb-nopagesread {
    margin-top: 10px;
  }

  .ubc-find-friend A, .ubc-find-friend A:hover, .ubc-find-friend A:visited {
    color: $color071;
    text-decoration: none;
  }

  .ubc-find-friend-link {
    line-height: 35px;
    margin-left: 5px;
    padding-left: 38px;
  }

  .ubc-friends-of-friends {
    background: url($sprite) no-repeat scroll 0 -316px transparent;
  }

  .ubc-friends-invite {
    background: url($sprite) no-repeat scroll 0 -282px transparent;
  }

  .ubc-friends-on-facebook {
    background: url($sprite) no-repeat scroll 0 -353px transparent;
  }

  .ubc-sep {
    float: left;
    width: 100%;
    border-bottom: 1px dotted $color031;
    margin: 0;
  }

  /* User box - wished books */
  .ub-wished {
    float: left;
    .ub-title {
      background-position: 4px -1605px;
    }
    .ubwb {
      float: left;
      width: 95%;
      margin-bottom: 5px;
      margin-left: 10px;
      .ubwb-image {
        float: left;
        width: 25%;
      }

      .ubwb-text {
        float: right;
        width: 75%;
      }

      .ubwb-link {
        float: right;
        font-size: 0.8em;
      }
    }
  }

  /* User box - user list */
  .ub-users {
    position: relative;
    .ub-title {
      background-position: 4px -202px;
    }
    .ub-user {
      float: left;
      width: 100%;
      .ubu-image {
        float: left;
      }
      .ubu-text {
        float: right;
        width: 70%;
      }
    }
    ul {
      &.carousel-pagination {
        left: 100px;
        position: absolute;
        top: 120px;
        width: 110px;
      }
    }
  }

  /* User box - Other user last events*/
  .ub-lastevents {
    .ub-title {
      background-position: 4px -2082px;
    }
    .user-event {
      margin-left: 10px;
      .ue-itemimage {
        width: 25%
      }
      .ue-description {
        width: 75%;
      }
    }
  }

}



