$imageVersion: 10;

$sprite: '../images/sprite.png?v=' + $imageVersion;
$spriteButtons: '../images/sprite-buttons.png?v=' + $imageVersion;

@import 'vendors/bootstrap';

@import 'base/base';

@import 'layout/layout';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/header';

@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/compact-form-widget';
@import 'modules/carousel';
@import 'modules/home-chronicle';
@import 'modules/news-reader';
@import 'modules/reading-what';
@import 'modules/user-events';

@import 'pages/contents';
@import 'pages/groupAdmin';
@import 'pages/homepage';

.picto-facebook-s {
  background: url($sprite) no-repeat scroll 0 -353px transparent;
}

.picto-facebook-m {
  background: url($sprite) no-repeat scroll 0px -1230px transparent;
  height: 45px;
  width: 45px;
  display: block;
}

.link-button {
  background-color: transparent;
  color: #239CD3;
  float: right;
  font-size: 1em !important;
  margin: 0 auto;
  text-decoration: underline;
  text-transform: none;
}

.search-field {
  background: url($sprite) no-repeat scroll 0 0 transparent;
  float: left;
  height: 32px;
  width: 266px;
}

.search-field-input {
  float: left;
  margin: 7px;
}

.search-field INPUT {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  width: 200px;
  font-size: 1em;
  text-overflow: ellipsis;
}

.input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 1px -27px 8px #FFF inset;
  height: 28px;
  padding-left: 5px;
}

.see-more {
  background-color: #F2F2F2;
  float: left;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
}

.see-more A, .see-more A:visited, .see-more A:hover {
  color: #000000;
  text-decoration: none;
}

.stars {
  float: left;
  margin: 0;
  width: 80px;
  height: 20px;
}

DIV.rating {
  float: left;
  height: 18px;
  width: 83px;
  margin-top: 3px;
  text-indent: -999em;
}

.blowofheart {
  background: url($sprite) no-repeat scroll 2px -392px transparent;
  float: left;
  width: 22px;
  height: 18px;
  padding-top: 5px;
}

.no-rating {
  background: url($sprite) no-repeat scroll 0 -569px transparent;
}

.rating-0 {
  background: url($sprite) no-repeat scroll 0 -427px transparent;
}

.rating-1 {
  background: url($sprite) no-repeat scroll 0 -449px transparent;
}

.rating-2 {
  background: url($sprite) no-repeat scroll 0 -472px transparent
}

.rating-3 {
  background: url($sprite) no-repeat scroll 0 -495px transparent
}

.rating-4 {
  background: url($sprite) no-repeat scroll 0 -521px transparent
}

.rating-5 {
  background: url($sprite) no-repeat scroll 0 -546px transparent
}

.star-sep, .star-0-label {
  font-size: 1.2em;
}

.picto-small {
  float: left;
  width: 116px;
  height: 26px
}

.picto-wished-small {
  background: url($sprite) no-repeat scroll 2px -821px transparent;
}

.picto-owned-small {
  background: url($sprite) no-repeat scroll 2px -602px transparent;
  width: 75px;
}

.picto-lent-small {
  background: url($sprite) no-repeat scroll 2px -642px transparent;
}

.picto-borrowed-small {
  background: url($sprite) no-repeat scroll 2px -687px transparent;
}

.picto-returntovalidate-small {
  background: url($sprite) no-repeat scroll 2px -735px transparent;
  height: 39px;
}

.picto-lendable-small {
  background: url($sprite) no-repeat scroll 2px -780px transparent;
}

.boh {
  background: url($sprite) no-repeat scroll 0 -393px transparent;
  float: left;
  height: 20px;
  width: 20px;
}

.noDisplay {
  display: none;
}

.image-frame {
  border: 1px solid #B2B2B2;
  box-shadow: 0 2px 10px #555555;
  padding: 4px;
  background-color: #FFF;
}

.image-thumb {
  height: 160px;
  width: 95px;
}

.image-thumb-small {
  height: 75px;
  width: 50px;
}

.image-thumb-medium {
  height: 100px;
  width: 70px;
}

.image-thumb-square {
  height: 160px;
  width: 160px;
}

.image-thumb-square-small {
  height: 47px;
  width: 47px;
}

.image-thumb-square-medium {
  height: 90px;
  width: 90px;
}

.user-thumb {
  background: url("../images/sprite-user-backgrounds.png") no-repeat scroll 0px -80px transparent;
  padding: 9px 0 20px 9px;
  height: 93px;
  width: 96px;
}

.user-thumb-small {
  background: url("../images/sprite-user-backgrounds.png") no-repeat scroll 0 -11px transparent;
  padding: 2px 18px 6px 12px;
  height: 53px;
  width: 53px;
}

.book-link, .book-link:hover, .book-link A:visited {
  color: #239CD3;
  font-weight: bold;
}

.picto-sep {
  border-left: 2px solid #B1B2B3;
  padding-left: 5px;
  margin-left: 2px;
}

.horizontal-sep-1 {
  background: url("../images/horizontal-sep-1.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 23px;
  width: 100%;
  margin-top: 10px;
}

.horizontal-sep-2 {
  background: url("../images/book-search-sep.png") no-repeat scroll 0 15px transparent;
  float: left;
  height: 23px;
  width: 100%;
}

.horizontal-sep-3 {
  background: url("../images/horizontal-sep-3.png") no-repeat scroll 0 15px transparent;
  float: left;
  height: 23px;
  width: 100%;
}

.horizontal-sep-4 {
  background: url("../images/horizontal-sep-4.png") no-repeat scroll 35px 15px transparent;
  float: left;
  height: 23px;
  width: 100%;
}

#loading {
  background-color: #000000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#loadingMsg {
  color: #FFF;
  font-size: 2.5em;
  margin: 245px auto;
  width: 300px;
}

#flashes-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
}

#flashes-background {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#flashes {
  margin-left: -220px;
  margin-top: -180px;
  position: fixed;
  top: 50%;
  width: 440px;
  z-index: 1002;
  left: 50%;
  background: none repeat scroll 0 0 #FFF;
  border-radius: 10px 10px 10px 10px;
}

#flashes UL {
  color: #239CD3;
  list-style: none outside none;
  margin: 0;
  padding: 15px;
}

#flashes-close-button {
  background: url($sprite) no-repeat scroll 0 -1328px transparent;
  float: right;
  height: 33px;
  width: 32px;
  cursor: pointer;
}

#flashes LI {
  color: #239cd3;
  font-size: 2em;
}

/* global button bar */
.buttons-bar {
  background-color: #F2F2F2;
  float: left;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

.bb-btvalidate {
  float: right;
  font-size: 0.7em;
}

/* global field style */
.input-item, #chronicle-form .input-text, .zend_form SELECT, .zend_form TEXTAREA {
  background-color: #F0EFEF;
  border: 1px solid #CCC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 4px 7px #CCC inset;
}

.textinput {
  padding: 5px;
  width: 250px;
}

.xs-textinput {
  padding: 5px;
  width: 50px;
}

.selectinput {
  width: 155px;
}

/* global navigation */
.navigation {
  background-color: #DEDFDF;
  float: left;
  width: 100%;
  height: 44px;
}

.nav-links {
  color: black;
  font-weight: bold;
  float: right;
}

.nav-links a, .nav-links a:hover, .nav-links a:visited {
  float: left;
  margin: 2px;
  padding: 1px;
  color: #000;
}

.nav-links SPAN {
  float: left;
  margin: 2px;
  padding: 1px;
  color: #fff;
  color: #239CD3;
}

.nav-links a.next, .nav-links a.back {
  height: 20px;
  width: 14px;
  border: none;
}

.nav-links a.next, .nav-links a.back {
  text-decoration: none;
}

.nav-links {
  float: right;
  line-height: 22px;
}

.nav-resume {
  float: right;
  line-height: 29px;
  margin-right: 17px;
}

.right-frame {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}

.right-col-buttons {
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

.rcb-buttons {
  float: left;
  width: 200px;
}

.rcb-label {
  border-right: 1px solid #CCCCCC;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  height: 27px;
  padding-right: 5px;
  padding-top: 13px;
  width: 80px;
}

/* global separator */
.separator {
  border-top-style: solid;
  border-top-width: 5px;
  border-color: #FFF;
}

.separator SPAN {
  padding: 3px;
  font-size: 1.3em;
}

.separator.cherbouquin {
  border-color: #239CD3;
}

.separator.cherbouquin SPAN {
  background-color: #239CD3;
  color: #FFF;
}

/* pinterest frame */
.pinterest-frame {
  border: 1px #f14e07 solid;
  width: 100%;
}

.pf-title {
  background-color: #fff;
  color: #f14e07;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #f14e07;
}

/* profile visibility picto */
.profile-picto-small-myfriends {
  background: url($sprite) repeat-x scroll left -1014px transparent;
}

.profile-picto-small-public {
  background: url($sprite) repeat-x scroll left -1048px transparent;
}

.profile-picto-small-private {
  background: url($sprite) repeat-x scroll left -1082px transparent;
}

.profile-picto-small-myfriends.nurs-status {
  background-position: 90px -1014px;
}

.profile-picto-small-public.nurs-status {
  background-position: 90px -1048px;
}

.profile-picto-small-private.nurs-status {
  background-position: 90px -1082px;
}

SELECT {
  height: 28px;
}

A.link, A:visited.link, A:hover.link {
  color: #239cd3 !important;
  font-weight: bold;
}

.highlight {
  color: #239CD3;
  text-decoration: none;
  font-weight: bold;
}

.inner-padding {
  padding: 5px;
}

.inner-padding-10 {
  padding: 10px;
}

.inner-padding-12 {
  padding: 12px;
  float: left;
}

.inner-padding-20 {
  padding: 20px;
  float: left;
}

.inner-side-padding-10 {
  padding: 0 10px;
  float: left;
}

.inner-side-padding-30 {
  padding: 0 30px;
  float: left;
}

.inner-right-padding-45 {
  padding: 0 0 0 45px;
  float: left;
}

.little-grey-bar {
  background-color: #F2F2F2;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  padding: 2px 0px;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 0;
}

.hyperlink {
  background: url($sprite) repeat scroll 0 -1525px transparent;
  padding-bottom: 10px;
  padding-left: 23px;
  word-wrap: break-word;
}

/* search form */
.search-form {
  float: left;
  width: 375px;
}

.sff-input {
  float: left;
  margin: 7px 0 7px 7px;
}

.sf-label {
  color: #FFF;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 36px;
  margin-right: 2px;
}


/* login form */
.login-form {
  float: left;
}

.lf-label {
  color: #FFF;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 36px;
  margin-right: 3px;
}

.lf-fields {
  float: left;
  margin: 0 2px;
}

.lf-button {
  float: left;
  width: 92px;
}

.lf-fbconnect {
  float: left;
}

.lfb-lostpassword {
  color: #FFF;
  float: left;
  font-size: 0.85em;
  line-height: 9px;
  margin-left: 5px;
  text-decoration: none;
  text-transform: lowercase;
}

/*nav-user*/
#nav-user {
  color: #FFF;
}

#nav-user A, #nav-user A:visited, #nav-user A:hover {
  color: #fff;
  text-decoration: none;
}

.nu-resume {
  float: left;
  width: 185px;
  background-color: #323639;
  box-shadow: 0 0 10px #000000 inset;
  border-radius: 0 0 0 10px;
  padding: 6px;
}

.nu-resume IMG {
  border: 2px #313538 solid;
  width: 53px;
  height: 53px;
}

.nur-image, .nur-status {
  float: left;
}

.nur-status {
  padding-left: 2px;
  font-size: 1.2em;
}

.nurs-status {
  height: 25px;
  padding-right: 33px;
  padding-top: 5px;
}

.nu-indice {
  background: url($sprite) no-repeat scroll 0 -1678px transparent;
  font-size: 0.7em;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -18px;
  width: 21px;
}

span.nu-indice {
  color: #fff !important;
}

.nu-links {
  float: left;
  padding: 20px 20px 20px 10px;
  width: 750px;
}

.nul-links {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nul-links > LI {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 30px;
  text-transform: uppercase;
  position: relative;
}

.nul-button {
  float: right;
}

#nav-user .nul-links li a.selected, #nav-user .nul-links li a.selected:visited {
  color: #000;
}

#nav-user .nul-links li:hover, #nav-user .nul-links li a:hover {
  color: #000;
}

#nul-news {
  padding-left: 22px;
  position: relative;
}

#nul-news ul {
  padding-left: 25px;
  font-size: 0.95em;
  text-transform: none;
}

#nul-news ul li {
  list-style: disc outside none;
  padding-right: 3px;
  color: #fff;
  font-weight: normal;
  float: left;
}

#nul-news #links-hover {
  display: none;
  border-radius: 10px;
  border: 1px solid #363A3D;
  background-color: #239CD3;
  width: 147px;
  position: absolute;
  left: -9px;
  top: -1px;
}

#nul-news:hover #links-hover {
  display: block;
}

#nul-news #links-hover span, #nul-news span {
  cursor: pointer;
}

#nul-news #links-hover span {
  color: #363A3D;
  text-align: center;
  display: block;
}

/* User box (box in right col) */
.user-box {
  float: left;
  border: 1px solid #239CD3;
}

.ub-title-wrap {
  padding-bottom: 8px;
  background: url($sprite) no-repeat scroll 22px -1629px #FFF;
}

.ub-title {
  font-size: 1.6em;
  color: #FFF;
  font-weight: bold;
  line-height: 30px;
  padding-left: 30px;
  background: url($sprite) no-repeat scroll 4px -1563px #239CD3;
}

.ub-mailbox .ub-title {
  background: url($sprite) no-repeat scroll 3px -235px #239CD3;
}

.ub-content {
  background-color: #FFF;
  float: left;
  font-size: 1.1em;
}

.ub-friends .ub-title {
  background: url($sprite) no-repeat scroll 2px -203px #239CD3;
}

.ubc-part {
  float: left;
  font-weight: bold;
  width: 278px;
  padding: 10px;
}

.ubc-part-title {
  padding-left: 10px;
  font-size: 1.1em;
}

.ub-highlight, .ub-highlight:hover, .ub-highlight:visited {
  color: #239CD3;
  text-decoration: none;
}

.user-box UL.carousel-pagination {
  left: 150px;
  position: absolute;
  top: 210px;
  width: 110px;
}

.user-box .carousel-pagination li {
  background-color: #000;
}

.user-box .carousel-pagination li.carousel-pagination-active {
  background: #1a83b3;
}

.ubc-bottom-link {
  float: right;
  font-size: 0.8em;
}

A.ubc-bottom-link, A.utc-bottom-link:hover, A.utc-bottom-link:visited {
  color: #239CD3;
}

/* User box - currently reading */
.ub-currentreadingbook {
  float: left;
  width: 100%;
}

.ub-currentreading {
  position: relative;
}

.ubcb-image {
  float: left;
}

.ubcb-text {
  float: right;
  width: 55%;
}

.ubcb-progress {
  margin-top: 10px;
}

.ubcb-progress-bar {
  float: left;
  width: 100%;
}

.ubcb-progress-value {
  color: #239CD3;
  font-size: 1.1em;
}

.reading-progress-bar-wrapper {
  border-radius: 5px;
  box-shadow: 1px 1px 3px #CCC inset;
  padding: 5px;
  float: left;
  width: 93px;
  margin-right: 5px;
}

.reading-progress-bar-out {
  float: left;
  width: 100%;
  background: url("../images/reading-progress-bar-out.png") repeat-x 0 0 transparent
}

.reading-progress-in {
  height: 10px;
  background: url("../images/reading-progress-bar-in.png") repeat-x 0 0 transparent;
}

.ubcb-nopagesread {
  margin-top: 10px;
}

.ubc-find-friend A, .ubc-find-friend A:hover, .ubc-find-friend A:visited {
  color: #000;
  text-decoration: none;
}

.ubc-find-friend-link {
  line-height: 35px;
  margin-left: 5px;
  padding-left: 38px;
}

.ubc-friends-of-friends {
  background: url($sprite) no-repeat scroll 0 -316px transparent;
}

.ubc-friends-invite {
  background: url($sprite) no-repeat scroll 0 -282px transparent;
}

.ubc-friends-on-facebook {
  background: url($sprite) no-repeat scroll 0 -353px transparent;
}

.ubc-sep {
  float: left;
  width: 100%;
  border-bottom: 1px dotted #DDDDDD;
  margin: 0;
}

/* User box - wished books */
.ub-wished {
  float: left;
}

.ub-wished .ub-title {
  background-position: 4px -1605px;
}

.ubwb {
  float: left;
  width: 95%;
  margin-bottom: 5px;
  margin-left: 10px;
}

.ubwb-image {
  float: left;
  width: 25%;
}

.ubwb-text {
  float: right;
  width: 75%;
}

.ubwb-link {
  float: right;
  font-size: 0.8em;
}

/* User box - user list */
.ub-users {
  position: relative;
}

.ub-users .ub-title {
  background-position: 4px -202px;
}

.ub-users .title-wrap {

}

.ub-user {
  float: left;
  width: 100%;
}

.ubu-image {
  float: left;
}

.ubu-text {
  float: right;
  width: 70%;
}

.user-box .ub-users UL.carousel-pagination {
  left: 100px;
  position: absolute;
  top: 120px;
  width: 110px;
}

/* User box - Other user last events*/
.ub-lastevents .ub-title {
  background-position: 4px -2082px;
}

.user-box .ue-itemimage {
  width: 25%
}

.user-box .ue-description {
  width: 75%;
}

.ub-lastevents .user-event {
  margin-left: 10px;
}

/* pushed books */
.pushed-books {
  float: left;
  width: 100%;
}

.book-view .pushed-books {
  margin: 25px 0;
}

.pb-title {
  color: #239CD3;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: normal;
}

.pb-title .pb-highlight {
  font-weight: bold;
}

.pb-item {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1em;
}

.pbi-nbBoh {
  font-size: 1.4em;
}

.pbi-image {
  float: left;
  width: 125px;
}

.pbi-image-small {
  float: left;
  width: 80px;
}

.pbi-content {
  float: left;
  width: 505px;
}

.pbi-description {
  float: left;
}

.pbi-content-title {
  font-size: 1.7em;
}

.pbi-content-subtitle {
  font-size: 1.4em;
}

.pbi-flags {
  float: left;
  width: 100%;
}

.pbi-flags DIV {
  height: 20px;
  padding-top: 5px;
}

.pbi-avgrating {
  font-size: 1.3em;
}

.pbif-rating-label {
  float: left;
  height: 21px;
  margin-right: 4px;
  padding-top: 5px;
}

.pbif-readingstate {
  float: left;
  color: #6b7074;
  font-weight: bold;
}

.pbi-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.pbi-publication .publisher {
  font-weight: bold;
}

.pbi-authors {
  font-weight: bold;
}

.pb-nobooks {
  font-size: 1.5em;
}

.pb-shelf {
  background: url("../images/shelf.png") no-repeat scroll -3px bottom transparent;
  float: left;
  padding-bottom: 51px;
  width: 100%;
}

.pb-inner-shelf {
  margin: 0 auto;
  width: 580px;
}

.pb-bookOnShelf {
  background: url("../images/book-onshelf-shadow.png") no-repeat scroll -4px 0 transparent;
  float: left;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.pb-bookOnShelf .image-frame {
  box-shadow: none;
  padding: 0;
}

/* Wished books */
.wb-item {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1em;
}

.wbi-image {
  float: left;
  width: 80px;
}

.wbi-content {
  float: left;
  width: 510px;
}

.wbi-title {
  font-weight: bold;
}

.wbi-content-title {
  font-size: 1.7em;
}

.wbi-giftoption {
  margin-top: 20px;
}

.wbi-giftoption-addoption {
  float: left;
  width: 300px;
}

.wbi-giftoption-buy {
  border-left: 1px solid #b1b2b3;
  float: left;
  padding-left: 10px;
}

.wbi-giftoption-notbought {
  background: url($sprite) no-repeat scroll 0 -1401px transparent;
  font-weight: bold;
  display: block;
  height: 22px;
  line-height: 22px;
  margin-bottom: 3px;
  padding-left: 23px;
}

.wbi-giftoption-bought {
  background: url($sprite) no-repeat scroll 0 -1433px transparent;
  font-weight: bold;
  display: block;
  height: 22px;
  line-height: 22px;
  margin-bottom: 3px;
  padding-left: 23px;
}

/* book-search */

.book-search {
  .bs-button {
    float: right;
  }
  .bs-nav {
    background-color: #DEDFDF;
    float: left;
    width: 100%;
    padding: 5px 0;
  }

  .bs-header-nav {
    border-bottom: 1px solid #FFF;
    border-radius: 10px 10px 0 0;
  }

  .bsn-resume {
    float: left;
  }

  .bsr-header {
    background-color: #EFEFEF;
    float: left;
    width: 100%;
  }

  .bsrh-title {
    float: left;
    width: 55%;
  }

  .bsrh-author {
    float: left;
    width: 30%;
  }

  .bsrh-button {
    float: left;
    width: 15%;
  }

  .bsr-line {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .link, .link:hover {
      font-size: 12px;
      text-align: right;
      text-decoration: underline;
      text-transform: none;
    }
    &.indb {
      .bslt-desc .title {
        text-decoration: underline;
      }
    }

    .bsl-title, .bsl-author, .bsl-button {
      min-height: 100%;
    }

    .bsl-title {
      float: left;
      width: 70%;
      padding-right: 2%;
      background: url("../images/book-search-vertical-sep.png") no-repeat scroll right top transparent;

      .bslt-image {
        float: left;
        margin-right: 15px;
      }

      .bslt-desc .title {
        font-weight: bold;
      }

      .bslt-desc .publisher {
        font-weight: bold;
      }
    }

    .bsl-author {
      padding-left: 2%;
      float: left;
      width: 10%;
      background: url("../images/book-search-vertical-sep.png") no-repeat scroll right top transparent;
      font-weight: bold;
    }

    .bsl-button {
      float: left;
      width: 15%;
    }
  }
}

/* user-book */
.user-book {
  float: left;
  width: 100%;
}

.ub-comment TEXTAREA {
  height: 100px;
  width: 100%;
}

.ubc-label {
  color: #239CD3;
  font-weight: bold;
}

/*flags*/
.ub-flags {
  float: left;
}

.ub-label {
  color: #239CD3;
  font-weight: bold;
  float: left;
  padding-top: 2px;
}

.ubfs-label, .ubt-label {
  float: left;
}

.ub-boh-label {
  background: url($sprite) no-repeat scroll 88px -392px transparent;
  height: 21px;
  width: 115px;
}

.ubf-state {
  float: left;
  margin-top: 10px;
}

.ubfr-value {
  float: left;
  cursor: pointer;
}

.ubf-state {
  float: left;
  width: 100%;
}

.ub-flags #stars {
  float: left;
  margin: 0;
  width: 80px;
  list-style-type: none;
  padding: 0;
  height: 20px;
}

.ub-flags #stars LI {
  float: left;
  margin: 0;
  padding: 0;
  width: 15px;
}

.ub-field {
  margin: 0 4px 0 4px;
  float: left;
}

.ub-field INPUT {
  float: left;
}

.ub-group-fields {
  float: left;
  width: 100%;
}

.reading-state {
  float: left;
}

.reading-date-block {
  float: left;
  margin-left: 5px;
}

.reading-date-block INPUT {
  width: 150px;
}

.nb-of-pages-read-block {
  float: left;
  margin-left: 10px;
}

.nb-of-pages-read-block INPUT {
  float: none;
  text-align: center;
}

.nb-of-pages-read-block .ub-label {
  margin-top: 4px;
}

.ub-reading-state {
  float: left;
  width: 100%;
  margin-top: 3px;
}

.ub-lending {
  font-size: 1.2em;
}

/*tags*/
.ub-tags {
  float: left;
}

.ubt-value {
  float: left;
  width: 100%;
}

.ubt-tag {
  float: left;
  width: 300px;
}

.ubtt-value {
  float: left;
}

/* book view*/
.bv-buttons {
  float: left;
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
}

.bv-buttons-group {
  float: left;
  width: 100%;
}

.bv-buttons A {
  text-decoration: none;
}

.bv-edit {
  float: left;
  margin-right: 5px;
}

.bv-sharefacebook {
  float: left;
  height: 26px;
  width: 32px;
}

.bv-lend {
  float: left;
  margin-right: 5px;
}

.bv-buyonamazon {
  color: #000000;
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
}

/* review */
.bv-reviews {
  float: left;
  width: 100%;
}

.bvr-item {
  float: left;
  width: 100%;
}

.bvri-content {
  float: left;
  margin-left: 10px;
  width: 85%;
}

.bvri-plublication {
  float: left;
  margin-right: 7px;
  margin-top: 7px;
}

.bvri-review {
  float: left;
  margin-top: 2px;
  width: 100%;
  overflow: hidden;
}

.bvri-rating {
  float: left;
}

.bvri-link {
  float: left;
}

.bvr-list {
  margin: 10px 0;
  float: left;
  width: 100%;
}

.bv-reviews .navigation .nav-resume {
  float: left;
  font-size: 1.3em;
  line-height: 20px;
}

.bv-reviews .navigation {
  height: 30px;
}

.bvr-warnlink {
  float: right;
}

.bvr-comments {
  float: left;
  width: 100%;
  background-color: #EEEEEE;
  border: 1px solid #AAAAAA;
  margin-top: 5px;
}

.bvr-commentswrap {
  float: left;
  padding: 5px;
  width: 540px;
}

.bvr-comments UL {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bvr-comments LI {
  border-bottom: 1px solid #fff;
  float: left;
  margin-bottom: 2px;
  width: 100%;
}

.bvr-comment {
  float: left;
  width: 100%;
}

.bvr-commentsform {
  float: left;
  width: 100%;
}

.bvr-commentsform TEXTAREA {
  font-size: 0.9em;
  height: 20px;
  margin: 0;
  padding: 0;
  resize: none;
  width: 90%;
  font-family: Dosis;
}

.bvr-commentstitle {

}

.bvrc-date {
  float: right;
  width: 87%;
  color: #6B7074;
}

.bvrc-value {
  float: right;
  width: 87%;
}

.bvrc-owner {
  float: left;
}

.bvrc-submitlink {
  border: 0 none;
  color: #239CD3;
  font-size: 0.9em;
  text-decoration: underline;
  cursor: pointer;
}

.bv-requestborrow {
  float: left;
  margin-right: 5px;
}

/* book-reviews */
.book-reviews {
  float: left;
}

/* library-header */
.library-header {
  background-color: #239CD3;
  border-radius: 10px 10px 0 0;
  float: left;
  width: 100%;
}

.friend-library-header {
  background-color: #363A3D;
}

.library-header UL {
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.library-header LI {
  float: left;
  width: 20%;
  list-style: none;
  text-align: center;
}

.lh-wrapper.first {
  margin-left: 10px;
}

.lh-wrapper {
  background-color: #FFF;
  margin: 0 5px 0 5px;
  height: 42px;
  width: 184px;
  padding-top: 100px;
}

.library-header A, .library-header A:hover, .library-header A:visited {
  font-size: 1.6em;
  text-decoration: none;
  color: #b1b3b4;
}

.active A .lh-wrapper, .active A:hover .lh-wrapper, .active A:visited .lh-wrapper {
  font-weight: bold;
  text-decoration: underline;
}

.lh-wrapper.last {
  margin-right: 10px;
}

.lh-all {
  background: url("../images/picto-library-big-black.png") no-repeat scroll -2px 4px transparent;
}

.lh-friend-library-all {
  background: url("../images/picto-libraryfriend-big-black.png") no-repeat scroll -2px 4px transparent;
}

.lh-owned {
  background: url("../images/picto-library-owned-big.png") no-repeat scroll -2px 0 transparent;
}

.active A .lh-wrapper.lh-owned, .active A:hover .lh-wrapper.lh-owned, .active A:visited .lh-wrapper.lh-owned {
  color: #239cd3;
}

.lh-borrowed {
  background: url("../images/picto-library-borrowed-big.png") no-repeat scroll -2px 0 transparent;
}

.active A .lh-wrapper.lh-borrowed, .active A:hover .lh-wrapper.lh-borrowed, .active A:visited .lh-wrapper.lh-borrowed {
  color: #bf0574;
}

.lh-lent {
  background: url("../images/picto-library-lent-big.png") no-repeat scroll -2px 0 transparent;
}

.active A .lh-wrapper.lh-lent, .active A:hover .lh-wrapper.lh-lent, .active A:visited .lh-wrapper.lh-lent {
  color: #794691;
}

.lh-wished {
  background: url("../images/picto-library-wished-big.png") no-repeat scroll -2px 0 transparent;
}

.active A .lh-wrapper.lh-wished, .active A:hover .lh-wrapper.lh-wished, .active A:visited .lh-wrapper.lh-wished {
  color: #3e932e;
}

.lh-friendlibrarytitle {
  background: url($sprite) no-repeat scroll 0 -77px transparent;
  color: #FFF;
  font-size: 2.4em;
  margin-left: 10px;
  padding-left: 47px;
  padding-top: 5px;
}

/* library-list */
.lln-search {
  float: left;
}

.llns-label {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 30px;
}

.ll-list {
  float: left;
  width: 100%;
}

.ll-list TABLE {
  float: left;
  width: 100%;
}

.ll-list TABLE TD, .ll-list TABLE TH {
  margin: 2px;
  padding: 2px;
}

.ll-list TABLE TH {
  height: 30px;
  cursor: pointer;
}

.ll-list TD.border-right {
  padding: 5px;
  border-right: 2px solid #EFF0F0;
}

.ll-list TD {
  vertical-align: top;
}

.lll-header {
  background-color: #efefef;
}

.llh-author {
  width: 15%;
}

.llh-rating {
  width: 13%;
}

.llh-state {
  width: 16%;
}

.llh-button {
  width: 14%;
}

.llh-title {
  width: 42%;
}

.llh-title, .llh-author, .llh-rating, .llh-state {
  text-align: left;
}

TABLE TH.llh-title {
  padding-left: 80px;
}

.library-list .pbi-content {
  width: 315px;
}

.sortLine .sort.ASC {
  background: url($sprite) no-repeat scroll 55px -122px transparent;
}

.sortLine .llh-title.sort.ASC {
  background: url($sprite) no-repeat scroll 118px -122px transparent;
}

.sortLine .sort.DESC {
  background: url($sprite) no-repeat scroll 55px -153px transparent;
}

.sortLine .llh-title.sort.DESC {
  background: url($sprite) no-repeat scroll 118px -153px transparent;
}

.mb-col-date.ASC {
  background: url($sprite) no-repeat scroll 55px -122px transparent;
}

.mb-col-date.DESC {
  background: url($sprite) no-repeat scroll 55px -153px transparent;
}

.ll-nobooks {
  padding: 15px;
  float: left;
  font-size: 2em;
}

.lln-filter {
  float: left;
  margin-top: 2px;
}

/* Friends to borrow from, Quick registration form */
.ftb-title, .qrf-title {
  font-size: 2em;
}

.qrf-fieldlabel {
  font-weight: bold;
  font-size: 1.2em;
}

.qrf-baseline {
  font-size: 1.3em;
  margin: 15px 0;
}

/* edit lending */
.userbook-lending {
  float: left;
  width: 100%;
}

.ul-lendings, .ul-borrowings, .ul-form {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.ul-title {
  font-size: 1.5em;
}

.ul-detail {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
}

.ul-button {
  float: left;
}

.ul-btbutton {
  line-height: 10px;
}

/* friend-item */
.friend-title {
  color: #239CD3;
  font-size: 2em;
  margin-bottom: 10px;
}

.flh-menu {
  list-style: none;
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.flh-menu LI {
  float: left;
  list-style: none outside none;
  text-align: center;
  width: 50%;
}

.flh-menu A, .flh-menu A:hover, .flh-menu A:visited {
  text-decoration: none;
}

.flh-item {
  color: #B1B3B4;
  font-size: 1.8em;
  height: 65px;
  padding-left: 50px;
  padding-top: 40px;
}

.flh-item.active {
  font-weight: bold;
  text-decoration: underline;
}

.flh-friends.active {
  background: url("../images/picto-friends-big-off.png") no-repeat scroll 0px -2px transparent;
  margin: 0 5px 0 10px;
}

.flh-friends {
  background: url("../images/picto-friends-big-on.png") no-repeat scroll 0px -3px transparent;
  margin: 0 5px 0 10px;
}

.flh-wishes.active {
  background: url("../images/picto-friends-wished-big-off.png") no-repeat scroll 0px -3px transparent;
  margin: 0;
}

.flh-wishes {
  background: url("../images/picto-friends-wished-big-on.png") no-repeat scroll 0px -3px transparent;
  margin: 0;
}

.friends-list {
  padding: 10px 0;
  float: left;
}

.friends-list-header {
  background-color: #239CD3;
  border-radius: 10px 10px 0 0;
  float: left;
  width: 100%;
}

.friend-nav-bar {
  float: left;
  width: 100%;
}

.friend-item {
  float: left;
  width: 33%;
  min-height: 325px;
}

.wishlist-list .friend-item {
  min-height: 245px;
}

.friend-selection .friend-item {
  min-height: 150px;
}

.fi-line {
  float: left;
  width: 100%;
}

.fi-line-sep {
  float: left;
  width: 100%;
  height: 2px;
  background-color: #eff0f0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.fil-label, .fi-text .publisher, .fit-title, .fit-author, .fil-username {
  font-weight: bold;
}

.fi-image {
  float: left;
  margin-right: 10px;
}

.fl-search {
  background-color: #DEDFDF;
  float: left;
  width: 100%;
  padding-bottom: 5px;
}

.fls-label {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 5px;
}

.fls-form {
  float: left;
}

.fl-friendnobooks {
  font-size: 1.7em;
}

.fl-choosefriend {
  font-size: 1.7em;
}

/* friend wished books */
.fwb-title {
  font-size: 1.9em;
  margin-bottom: 15px;
}

.fwb-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.fwb-description {
  font-size: 1.2em;
}

.fwb-line-title {
  font-weight: bold;
}

.fwb-mail {
  margin-top: 10px;
}

.fwb-mail-description {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.fwb-autopromo-banner {
  margin-bottom: 15px;
}

/* user profile */
.user-profile-bkg {
  background: url("../images/user-profile-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;
}

.other-user-profile-bkg {
  background: url("../images/other-user-profile-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;
}

.other-user-profile-bkg #content-right {
  padding-top: 60px;
}

.profile {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.p-left {
  float: left;
}

.p-center {
  float: left;
  margin-left: 30px;
  width: 42%;
}

.p-right {
  float: right;
}

.p-name {
  font-size: 1.9em;
  font-weight: bold;
}

.p-gender {
  font-size: 1.9em;
  font-weight: bold;
}

.p-line {
  font-size: 1.3em;
  line-height: 22px;
  float: left;
  width: 100%;
}

.pl-picto {
  float: right;
  height: 30px;
  margin-left: 10px;
  width: 35px;
}

.pl-birthdate {
  margin-bottom: 18px;
}

.pl-label {
  font-weight: bold;
}

.pl-coordinatetitle {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 5px;
  background: url($sprite) repeat scroll 125px -1997px transparent;
}

.pl-coordinate {
  line-height: 16px;
}

.pl-add-as-friend {
  background: url($sprite) repeat scroll 0 -2043px transparent;
  padding-left: 20px;
  padding-top: 5px;
}

.profile-status {
  float: left;
}

.ps-current {
  float: left;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 46px;
  width: 100%;
}

.ps-current-label {
  float: left;
}

.ps-current-value {
  float: left;
  margin-left: 5px;
}

.ps-description {
  font-size: 1.5em
}

.ps-picto {
  color: #239CD3;
  height: 50px;
  padding-left: 50px;
  width: 233px;
}

.ps-picto-myfriends {
  background: url($sprite) repeat-x scroll 0 -854px transparent;
}

.ps-picto-public {
  background: url($sprite) repeat-x scroll 0 -906px transparent;
}

.ps-picto-private {
  background: url($sprite) repeat-x scroll 0 -906px transparent;
}

.psl-title {
  font-size: 1.2em;
  font-weight: bold;
}

.psl {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.psl-item {
  float: left;
  padding-left: 35px;
}

.psl-label {
  color: #239CD3;
  font-weight: bold;
}

.profile-edit-settings {
  float: left;
}

.pes-description {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.pes-line {
  margin-bottom: 20px;
}

.pes-question {
  color: #239CD3;
  font-weight: bold;
  font-size: 1.2em;
}

.pes-question-field {
  font-weight: bold;
}

.profile-delete {
  float: left;
}

.bt-delete-account {
  line-height: 10px;
}

.profile-edit-form {
  float: left;
  width: 100%;
}

.profile-edit-form TABLE {
  width: 100%;
}

.pef-label {
  width: 190px;
  font-size: 1.2em;
}

.pef-line {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.pef-gravatar {
  float: left;
  margin: 2px;
  width: 32%;
}

.p-friend-title {
  background: url($sprite) no-repeat scroll 0 -84px transparent;
  font-size: 1.8em;
  height: 33px;
  margin-bottom: 18px;
  padding-left: 50px;
  padding-left: 50px;
  color: #FFF;
}

.p-right-item {
  text-align: right;
}

.p-nbbooks {
  font-size: 2em;
}

/* profile delete */
.pd-description {
  font-size: 1.5em;
}

.pd-title {
  font-size: 2.5em;
}


/* mailbox list */
.mailbox TABLE {
  float: left;
  width: 100%;
  text-align: left;
}

.mb-deletebutton {
  float: left;
}

.mb-deletebutton .bt-black-l {
  line-height: 10px;
}

.mb-col-check {
  width: 10%;
  text-align: center;
}

.mb-col-avatar {
  width: 20%;
}

.mb-col-msg {
  width: 30%;
}

.mb-col-date {
  width: 10%;
}

.mb-col-state {
  width: 15%;
  font-weight: bold;
}

TD.mb-col-state {
  color: #f56903;
}

.mb-col-read {
  width: 7%;
}

.mb-col-delete {
  width: 8%;
}

.mailbox .navigation {
  background-color: #efefef;
}

.mailbox .navigation .nav-resume {
  float: left;
  font-size: 1.8em;
}

.mailbox .navigation.mb-hat {
  background-color: #363a3d;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.mb-header {
  background-color: #EFEFEF;
  color: #33373A;
  font-size: 1em;
}

.mailbox TD.border-right {
  border-right: 2px solid #EFF0F0;
  padding: 5px;
}

.mailbox .nav-links a, .mailbox .nav-links a:hover, .mailbox .nav-links a:visited {
  color: #FFF;
}

.mailbox .mb-foot .nav-links a, .mailbox .mb-foot .nav-links a:hover, .mailbox .mb-foot .nav-links a:visited {
  color: #363A3D;
}

.mailbox A, .mailbox A:visited, .mailbox A:hover {
  text-decoration: none;
  color: #000;
}

/* mailbox message */
.mm-header {
  background-color: #363a3d;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.mm-body {
  margin-top: 10px;
}

.mmh-label {
  font-weight: bold;
}

.mmb-title {
  font-weight: bold;
  font-size: 1.3em;
}

.mm-inputbody {
  height: 100px;
  width: 100%;
}

/* mailbox new message */
.mnm-title {
  font-size: 1.9em;
  margin-bottom: 10px;
}

.mnm-line {
  margin-top: 10px;
}

.mnm-line-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 3px;
}

.mnm-body {
  height: 300px;
  width: 100%;
}

.mnm-subject {
  height: 20px;
  padding: 5px;
  width: 300px;
}

.mnm-emails {
  height: 20px;
  padding: 5px;
  width: 500px;
}

/* friend selection */
.friend-selection {
  float: left;
  width: 100%;
}

.fs-title {
  font-size: 1.8em;
}

.fs-list {
  float: left;
  width: 100%
}

.fs-friendname {
  font-weight: bold;
}

/* friend profile */
.friend-profile .p-line-small {
  font-size: 1.2em;
  line-height: 17px;
}

.friend-profile .pl-birthdate {
  margin-bottom: 3px;
}

.add-friend-bkg {
  background: url("../images/add-friend-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;
}

.add-friend-header {
  background: url($sprite) repeat-x scroll 0 -1120px transparent;
  height: 51px;
  margin-bottom: 10px;
  padding-left: 76px;
}

.adh-title {
  color: #239CD3;
  font-size: 2em;
}

/* recommand */
.recommand .mnm-body {
  height: 200px;
}

/* pending request */
.pending-request-header {
  background: url($sprite) repeat-x scroll 0 -1172px transparent;
  height: 51px;
  margin-bottom: 10px;
  padding-left: 76px;
}

/* friends search */
.friends-search {
  font-size: 1.5em;
}

/* registration */
.registration A.cgu {
  color: #000;
  font-weight: normal;
}

.registration .buttons-bar {
  background-color: #30a2d6;
  color: #fff;
  margin-top: 50px;
}

.r-left {
  background: url("../images/registration-bkg.png") no-repeat scroll right top #239CD3;
  border-radius: 10px 0 0 0;
  float: left;
  width: 50%;
}

.r-right {
  float: left;
  width: 50%;
  text-align: center;
}

.r-line {
  margin-top: 10px;
}

.r-title {
  color: #FFF;
  font-size: 2.5em;
  font-weight: bold;
}

.r-subtitle {
  font-size: 1.2em;
}

.r-reassurance {
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
  margin: 10px 0;
}

.rl-label {
  color: #fff;
  font-weight: bold;
}

.rr-label {
  font-size: 1.3em;
  margin-top: 50px;
}

.rr-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.registration .bt-facebook-s {
  margin: 0 auto;
}

.registration .bt-blue-xxl {
  margin: 0 auto;
}

/* lost-password */
.lost-password {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.lp-title {
  font-size: 2.5em;
  font-weight: bold;
}

.lp-label {
  font-weight: bold;
}

.lp-subtitle {
  font-size: 1.2em;
}

/* annexe-page : contact form , about, team */
.annexe-page {
  background-color: #EDEDED;
  border-radius: 10px 10px 0 0;
  float: left;
  width: 100%;
}

.ap-right {
  float: left;
  width: 70%;
  background-color: #FFF;
  border-radius: 0 10px 0 0;
}

.ap-left {
  float: left;
  width: 30%;
  background-color: #ededed;
  border-radius: 10px 0 0 0;
}

.ap-description {
  font-weight: bold;
  margin-top: 15px;
}

.ap-label {
  font-size: 1.2em;
}

.ap-line {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ap-title {
  font-size: 2.5em;
  color: #239CD3;
  font-weight: bold;
}

.apl-title {
  font-size: 1.3em;
  color: #239CD3;
  font-weight: bold;
}

.annexe-page TEXTAREA {
  width: 100%;
  height: 120px;
}

.apl-label {
  font-weight: bold;
}

.team-member {
  float: left;
  margin-bottom: 30px;
}

.tm-description {
  float: left;
  font-size: 1.1em;
  margin-top: 5px;
  text-align: justify;
  width: 100%;
}

.tm-name {
  font-size: 2em;
  font-weight: bold;
}

.tm-resume {
  float: left;
}

.tm-image {
  float: left;
  margin-right: 20px;
}

/* SEO book list */
.book-list .navigation.top {
  margin-bottom: 10px;
}

.book-list-title {
  color: #239CD3;
  margin-bottom: 20px;
  margin-top: 0;
}

.book-list-introduction {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.bl-filter {
  margin: 10px 0;
}

.blf-title {
  font-size: 1.3em;
  margin-bottom: 3px;
}

/* Twitter widget */
.twitter-widget {
  position: relative;
  font-size: 1.2em;
  background-color: #363A3D !important;
  background-color: #363A3D;
  color: black !important;
  float: right;
  width: 100%;
}

.twitter-header {
  margin: 5px 5px 5px 10px;
  overflow: hidden;
}

.twitter-header a {
  color: #FFF;
}

.twitter-widget-profile {
  display: block;
  float: left;
  width: 31px;
  height: 31px;
  border: 0;
}

.twitter-body {
  padding: 0 1px;
}

.twitter-timeline {
  background: white;
  height: 285px;
  overflow: auto;
}

.twitter-tweet {
  border-bottom: 1px dotted #DDD;
  overflow: hidden;
}

.twitter-tweet a {
  color: #239CD3
}

.twitter-tweet-wrap {
  padding: 8px;
  overflow: hidden;
}

.twitter-tweet-text {
  margin-left: 0;
  font-size: 0.8em;
}

.tweet-actions, .tweet-actions a {
  font-size: 0.9em;
  color: #788087 !important;
}

.tweet-actions em {
  float: right;
}

.twitter-footer {
  font-size: 0.9em;
  margin: 5px;
  text-align: right;
  text-transform: uppercase;
}

.twitter-footer a {
  color: #FFF;
  text-decoration: none;
}

.coverflip {
  border: 1px #e6e6e6 solid;
  height: 230px;
}

.coverflip IMG {
  cursor: pointer;
  border: 1px #ccc solid;
}

.coverflip-bkg {
  background: url("../images/homepage/cover-flip-background.png") no-repeat scroll -13px 65% transparent;
}

.small-coverflip-bkg {
  background: url("../images/small-coverflip-background.png") no-repeat scroll 0 66% transparent;
}

.coverflip-caption {
  position: relative;
  text-align: center;
  top: 200px;
}

/* Last reviews posted */
.last-reviews-posted {
  float: left;
  width: 100%;
}

.lrp {
  border-bottom: 1px solid #F2F2F2;
  float: left;
  padding: 5px 0;
  width: 100%;
}

#homepage .lrp-title {
  margin-top: 10px;
  color: #239CD3;
  font-weight: bold;
}

#homepage .lrp-image {
  width: 11%;
}

#homepage .lrp-content {
  width: 89%;
}

#other-user-profile .lrp-title, #user-homepage .lrp-title {
  color: #239CD3;
  font-size: 2em;
  margin-bottom: 10px;
}

.lrp-image {
  float: left;
  width: 12%;
}

.lrp-content {
  float: right;
  width: 88%;
}

.lrp-content-title {
  font-size: 1.2em;
  font-weight: bold;
}

.lrp-content-title .link {
  text-decoration: none;
  font-weight: bold;
}

#homepage .lrp-bottom A {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

/* Same author books */
.same-author-books .pb-title {
  font-size: 1.3em;
  margin-bottom: 5px;
  padding-left: 5px;
  color: #239CD3;
}

/* Last rated books - homepage */
.last-rated-books .pb-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0 5px;
}

/* press reviews subscription widget */
#press-reviews-subscription-form {
  padding: 10px 5px 10px 85px;
  float: left;
  background: url($sprite) no-repeat scroll 3px -2200px #1E1E1E;
}

#prsf-title {
  color: #239CD3;
  font-size: 1.3em;
  font-weight: bold;
}

#prsf-subtitle {
  color: #FFF;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 5px;
}

#prsf-form {

}

#press-reviews-subscription-form #subscribe {
  color: #FFF;
  text-transform: uppercase;
}

#press-reviews-subscription-form DL {
  margin: 0px;
}

.prsf-text, .prsf-button {
  float: left;
}

.prsf-text {
  margin-right: 3px;
}

#press-reviews-subscription-form .input-item {
  width: 107px;
  height: 24px;
}

/* --------------------------------------------------------- */
/* ---- Content (chronicle and press review) Search Form --- */
/* --------------------------------------------------------- */
#content-search-form {
  float: left;
  width: 100%;
}

#content-search-form .search-field {
  background: url($sprite) no-repeat scroll -550px -3px transparent;
  height: 30px;
  width: 130px;
}

#content-search-form .search-field INPUT {
  width: 75px;
  margin: 4px 0 4px 4px;
}

#content-search-form .search-button {
  width: 35px;
  padding: 0;
  background: url($spriteButtons) no-repeat scroll 5px -346px transparent;
}

.csf-separator {
  line-height: 45px;
  font-size: 1.5em;
}