$imageVersion: 10;

$sprite: '../images/sprite.png?v=' + $imageVersion;
$spriteButtons: '../images/sprite-buttons.png?v=' + $imageVersion;

@import 'abstract/mixins';

@import 'vendors/bootstrap';

@import 'base/base';
@import 'base/forms';

@import 'layout/layout';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/header';

@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/compact-form-widget';
@import 'modules/carousel';
@import 'modules/home-chronicle';
@import 'modules/news-reader';
@import 'modules/reading-what';
@import 'modules/user-events';
@import 'modules/annex-page';
@import 'modules/login-form';
@import 'modules/nav-user';
@import 'modules/search-form';
@import 'modules/last-reviews-posted';
@import 'modules/flashes';
@import 'modules/user-box';
@import 'modules/twitter-widget';
@import 'modules/friends-wished-books';
@import 'modules/navigation';
@import 'modules/book-view';
@import 'modules/friends-list-header';
@import 'modules/book-search';
@import 'modules/content-search-form';
@import 'modules/book-list';
@import 'modules/pushed-books';
@import 'modules/property-edit-settings';
@import 'modules/property-edit-form';
@import 'modules/friend-selection';
@import 'modules/user-book';
@import 'modules/profile';
@import 'modules/library-list';
@import 'modules/library-header';
@import 'modules/right-col-buttons';
@import 'modules/user-book-lending';
@import 'modules/add-friend-header';
@import 'modules/star-rating';
@import 'modules/coverflip';
@import 'modules/image-thumb';

@import 'pages/contents';
@import 'pages/groupAdmin';
@import 'pages/homepage';
@import 'pages/registration';
@import 'pages/lost-password';

.picto-facebook-s {
  background: url($sprite) no-repeat scroll 0 -353px transparent;
}

.picto-facebook-m {
  background: url($sprite) no-repeat scroll 0px -1230px transparent;
  height: 45px;
  width: 45px;
  display: block;
}

.link-button {
  background-color: transparent;
  color: #239CD3;
  float: right;
  font-size: 1em !important;
  margin: 0 auto;
  text-decoration: underline;
  text-transform: none;
}

.see-more {
  background-color: #F2F2F2;
  float: left;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
}

.see-more A, .see-more A:visited, .see-more A:hover {
  color: #000000;
  text-decoration: none;
}

.blowofheart {
  background: url($sprite) no-repeat scroll 2px -392px transparent;
  float: left;
  width: 22px;
  height: 18px;
  padding-top: 5px;
}

.picto-small {
  float: left;
  width: 116px;
  height: 26px
}

.picto-wished-small {
  background: url($sprite) no-repeat scroll 2px -821px transparent;
}

.picto-owned-small {
  background: url($sprite) no-repeat scroll 2px -602px transparent;
  width: 75px;
}

.picto-lent-small {
  background: url($sprite) no-repeat scroll 2px -642px transparent;
}

.picto-borrowed-small {
  background: url($sprite) no-repeat scroll 2px -687px transparent;
}

.picto-returntovalidate-small {
  background: url($sprite) no-repeat scroll 2px -735px transparent;
  height: 39px;
}

.picto-lendable-small {
  background: url($sprite) no-repeat scroll 2px -780px transparent;
}

.boh {
  background: url($sprite) no-repeat scroll 0 -393px transparent;
  float: left;
  height: 20px;
  width: 20px;
}

.book-link, .book-link:hover, .book-link A:visited {
  color: #239CD3;
  font-weight: bold;
}

.picto-sep {
  border-left: 2px solid #B1B2B3;
  padding-left: 5px;
  margin-left: 2px;
}

#loading {
  background-color: #000000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#loadingMsg {
  color: #FFF;
  font-size: 2.5em;
  margin: 245px auto;
  width: 300px;
}

/* global button bar */
.buttons-bar {
  background-color: #F2F2F2;
  float: left;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

.bb-btvalidate {
  float: right;
  font-size: 0.7em;
}

.nav-resume {
  float: right;
  line-height: 29px;
  margin-right: 17px;
}

/* pinterest frame */
.pinterest-frame {
  border: 1px #f14e07 solid;
  width: 100%;
}

.pf-title {
  background-color: #fff;
  color: #f14e07;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #f14e07;
}

/* profile visibility picto */
.profile-picto-small-myfriends {
  background: url($sprite) repeat-x scroll left -1014px transparent;
}

.profile-picto-small-public {
  background: url($sprite) repeat-x scroll left -1048px transparent;
}

.profile-picto-small-private {
  background: url($sprite) repeat-x scroll left -1082px transparent;
}

.profile-picto-small-myfriends.nurs-status {
  background-position: 90px -1014px;
}

.profile-picto-small-public.nurs-status {
  background-position: 90px -1048px;
}

.profile-picto-small-private.nurs-status {
  background-position: 90px -1082px;
}

.little-grey-bar {
  background-color: #F2F2F2;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  padding: 2px 0px;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 0;
}

.hyperlink {
  background: url($sprite) repeat scroll 0 -1525px transparent;
  padding-bottom: 10px;
  padding-left: 23px;
  word-wrap: break-word;
}

.reading-progress-bar-wrapper {
  border-radius: 5px;
  box-shadow: 1px 1px 3px #CCC inset;
  padding: 5px;
  float: left;
  width: 93px;
  margin-right: 5px;
}

.reading-progress-bar-out {
  float: left;
  width: 100%;
  background: url("../images/reading-progress-bar-out.png") repeat-x 0 0 transparent
}

.reading-progress-in {
  height: 10px;
  background: url("../images/reading-progress-bar-in.png") repeat-x 0 0 transparent;
}

.reading-state {
  float: left;
}

.reading-date-block {
  float: left;
  margin-left: 5px;
}

.reading-date-block INPUT {
  width: 150px;
}

.nb-of-pages-read-block {
  float: left;
  margin-left: 10px;
}

.nb-of-pages-read-block INPUT {
  float: none;
  text-align: center;
}

.nb-of-pages-read-block .ub-label {
  margin-top: 4px;
}

/* book-reviews */
.book-reviews {
  float: left;
}

.library-list .pbi-content {
  width: 315px;
}

.sortLine .sort.ASC {
  background: url($sprite) no-repeat scroll 55px -122px transparent;
}

.sortLine .llh-title.sort.ASC {
  background: url($sprite) no-repeat scroll 118px -122px transparent;
}

.sortLine .sort.DESC {
  background: url($sprite) no-repeat scroll 55px -153px transparent;
}

.sortLine .llh-title.sort.DESC {
  background: url($sprite) no-repeat scroll 118px -153px transparent;
}

.ll-nobooks {
  padding: 15px;
  float: left;
  font-size: 2em;
}

.lln-filter {
  float: left;
  margin-top: 2px;
}

/* Friends to borrow from, Quick registration form */
.ftb-title, .qrf-title {
  font-size: 2em;
}

.qrf-fieldlabel {
  font-weight: bold;
  font-size: 1.2em;
}

.qrf-baseline {
  font-size: 1.3em;
  margin: 15px 0;
}

/* friend-item */
.friend-title {
  color: #239CD3;
  font-size: 2em;
  margin-bottom: 10px;
}

.friends-list {
  padding: 10px 0;
  float: left;
}

.friend-nav-bar {
  float: left;
  width: 100%;
}


.wishlist-list .friend-item {
  min-height: 245px;
}

.fl-search {
  background-color: #DEDFDF;
  float: left;
  width: 100%;
  padding-bottom: 5px;
}

.fls-label {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 5px;
}

.fls-form {
  float: left;
}

.fl-friendnobooks {
  font-size: 1.7em;
}

.fl-choosefriend {
  font-size: 1.7em;
}

.bt-delete-account {
  line-height: 10px;
}

.add-friend-bkg {
  background: url("../images/add-friend-bkg.png") repeat-x scroll 0 0 transparent;
  border-radius: 10px 10px 10px 10px;
  float: left;
}

/* recommand */
.recommand .mnm-body {
  height: 200px;
}

/* pending request */
.pending-request-header {
  background: url($sprite) repeat-x scroll 0 -1172px transparent;
  height: 51px;
  margin-bottom: 10px;
  padding-left: 76px;
}

/* friends search */
.friends-search {
  font-size: 1.5em;
}

/* Same author books */
.same-author-books .pb-title {
  font-size: 1.3em;
  margin-bottom: 5px;
  padding-left: 5px;
  color: #239CD3;
}

/* Last rated books - homepage */
.last-rated-books .lrb-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #239CD3;
}
